<div>
  <h2 id="page-heading" data-cy="AppUserHeading">
    <span>App Users</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-app-user"
        [routerLink]="['/app-user/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new App User </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="appUsers?.length === 0">
    <span>No App Users found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="appUsers && appUsers.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span>ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="spotifyUserID">
            <div class="d-flex">
              <span>Spotify User ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="name">
            <div class="d-flex">
              <span>Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="email">
            <div class="d-flex">
              <span>Email</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="userImageLarge">
            <div class="d-flex">
              <span>User Image Large</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="userImageMedium">
            <div class="d-flex">
              <span>User Image Medium</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="userImageSmall">
            <div class="d-flex">
              <span>User Image Small</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="spotifyRefreshToken">
            <div class="d-flex">
              <span>Spotify Refresh Token</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="spotifyAuthToken">
            <div class="d-flex">
              <span>Spotify Auth Token</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="lastLoginDate">
            <div class="d-flex">
              <span>Last Login Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="discoverWeeklyBufferSettings">
            <div class="d-flex">
              <span>Discover Weekly Buffer Settings</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="discoverWeeklyBufferPlaylistID">
            <div class="d-flex">
              <span>Discover Weekly Buffer Playlist ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="highContrastMode">
            <div class="d-flex">
              <span>High Contrast Mode</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="textSize">
            <div class="d-flex">
              <span>Text Size</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="emailUpdatesEnabled">
            <div class="d-flex">
              <span>Email Updates Enabled</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="user.id">
            <div class="d-flex">
              <span>User</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let appUser of appUsers; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/app-user', appUser.id, 'view']">{{ appUser.id }}</a>
          </td>
          <td>{{ appUser.spotifyUserID }}</td>
          <td>{{ appUser.name }}</td>
          <td>{{ appUser.email }}</td>
          <td>{{ appUser.userImageLarge }}</td>
          <td>{{ appUser.userImageMedium }}</td>
          <td>{{ appUser.userImageSmall }}</td>
          <td>{{ appUser.spotifyRefreshToken }}</td>
          <td>{{ appUser.spotifyAuthToken }}</td>
          <td>{{ appUser.lastLoginDate | formatMediumDate }}</td>
          <td>{{ appUser.discoverWeeklyBufferSettings }}</td>
          <td>{{ appUser.discoverWeeklyBufferPlaylistID }}</td>
          <td>{{ appUser.highContrastMode }}</td>
          <td>{{ appUser.textSize }}</td>
          <td>{{ appUser.emailUpdatesEnabled }}</td>
          <td>
            {{ appUser.user?.id }}
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/app-user', appUser.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/app-user', appUser.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(appUser)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
