<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-playlist-song-join-heading" data-cy="PlaylistSongJoinCreateUpdateHeading">Create or edit a Playlist Song Join</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_songOrderIndex">Song Order Index</label>
          <input
            type="number"
            class="form-control"
            name="songOrderIndex"
            id="field_songOrderIndex"
            data-cy="songOrderIndex"
            formControlName="songOrderIndex"
          />
          <div
            *ngIf="
              editForm.get('songOrderIndex')!.invalid && (editForm.get('songOrderIndex')!.dirty || editForm.get('songOrderIndex')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('songOrderIndex')?.errors?.required"> This field is required. </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('songOrderIndex')?.errors?.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_playlist">Playlist</label>
          <select
            class="form-control"
            id="field_playlist"
            data-cy="playlist"
            name="playlist"
            formControlName="playlist"
            [compareWith]="comparePlaylist"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="playlistOption" *ngFor="let playlistOption of playlistsSharedCollection">{{ playlistOption.id }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_song">Song</label>
          <select class="form-control" id="field_song" data-cy="song" name="song" formControlName="song" [compareWith]="compareSong">
            <option [ngValue]="null"></option>
            <option [ngValue]="songOption" *ngFor="let songOption of songsSharedCollection">{{ songOption.id }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
