@import '~bootstrap/scss/bootstrap';
.title-screen {
  text-align: center;
  padding: 50px 0;

  .card {
    max-width: 1000px;
    margin: 0 auto;
    margin-top: -90px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: #888;
    display: flex;
    flex-direction: column;
  }

  .title {
    font-size: 36px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .subtitle {
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 12px;
  }

  .btn-primary {
    font-size: 18px;
    width: 200px;
    align-self: center;
    margin-bottom: 15px;
  }
}
.container {
  text-align: center;
  position: relative;

  .selection-container {
    opacity: 0;
    transform: translateY(20px);
    width: 85%;
    margin: 0 auto;
    background-color: #929292;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    animation: fadeInUp 0.8s cubic-bezier(0.42, 0, 0.58, 1) 1.2s forwards;
    position: relative;
    z-index: 3;
  }

  .custom-dropdown-toggle {
    width: 160px;
  }

  .custom-dropdown-menu {
    width: 160px;
  }

  .image-container {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 25%;
    max-width: 25%;
    height: 25%;
    margin-top: 30px;
    margin-right: 20px;
    margin-bottom: 20px;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.8s cubic-bezier(0.42, 0, 0.58, 1) 1.8s forwards;
    z-index: 2;
  }

  .title-screen {
    text-align: center;
  }

  .title-photo {
    width: 80%;
    max-width: 400px;
  }

  .vanilla-tilt-img {
    width: 100%;
    height: 80%;
    object-fit: cover;
  }

  .image-caption {
    font-weight: bold;
  }
}
.title,
.subtitle {
  opacity: 0;
  transform: translateY(20px);
  font-family: 'Dela Gothic One', cursive;
  transition: opacity 0.8s cubic-bezier(0.42, 0, 0.58, 1), transform 0.8s cubic-bezier(0.42, 0, 0.58, 1);
  animation: fadeInUp 0.8s cubic-bezier(0.42, 0, 0.58, 1) 0.6s forwards;
}
.title {
  font-size: 54px;
  margin-bottom: 5px;
  line-height: 1;
}
.title sub {
  font-size: 37px;
  vertical-align: 0.26em;
}
.subtitle {
  font-size: 24px;
  margin-bottom: 30px;
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.musician-selection,
.timeframe-selection {
  display: flex;
  align-items: center;
}
.musician-selection label {
  font-weight: bold;
  margin-right: 10px;
  white-space: nowrap;
}
.label-gap {
  margin-right: 1ch;
}
.timeframe-selection {
  font-weight: bold;
  justify-content: flex-end;
  display: flex;
  flex-direction: row;

  a {
    margin-right: 10px;
    text-decoration: none;
    color: black;
    cursor: pointer;
  }

  a.active {
    color: lightblue;
  }
}
.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}
.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}
.btn-secondary {
  background-color: #6c757d;
  border-color: #6c757d;
}
.btn-secondary:hover {
  background-color: #545b62;
  border-color: #545b62;
}
