<div *ngIf="currentScreen === 'title'" [@suckInAnimation]="animationState" class="title-screen">
  <div class="container">
    <div class="card left-card">
      <ul class="Words">
        <li class="Words-line">
          <p>&nbsp;</p>
          <p>ReCAPD</p>
        </li>
        <li class="Words-line">
          <p>ReCAPD:</p>
          <p>Find</p>
        </li>
        <li class="Words-line">
          <p>Find</p>
          <p>The</p>
        </li>
        <li class="Words-line">
          <p>The</p>
          <p>People</p>
        </li>
        <li class="Words-line">
          <p>People</p>
          <p>Behind</p>
        </li>
        <li class="Words-line">
          <p>Behind</p>
          <p>Your</p>
        </li>
        <li class="Words-line">
          <p>Your</p>
          <p>Favourite</p>
        </li>

        <li class="Words-line">
          <p>Favourite</p>
          <p>Music</p>
        </li>
        <li class="Words-line">
          <p>Music</p>
          <p>&nbsp;</p>
        </li>
      </ul>
    </div>
    <div class="card right-card">
      <div class="row align-items-center">
        <div class="col-md-6">
          <div class="selection-center-content">
            <div class="ring">
              <i></i><i></i><i></i>
              <div class="d-flex flex-column h-100">
                <h4>What should we scan?</h4>
                <div class="scan-selection">
                  <p-dropdown
                    [options]="scanType"
                    [ngModel]="selectedScanType"
                    (ngModelChange)="setScanTypeValue($event)"
                    [filter]="true"
                    filterBy="label"
                    optionLabel="label"
                    [style]="{ width: '15rem' }"
                    [showClear]="true"
                    placeholder="Select Scan Type"
                    [class.highlight]="highlightScanType"
                  >
                  </p-dropdown>
                </div>
                <h4>What time frame?</h4>
                <div class="timeframe-selection" [class.highlight]="highlightTimeframe">
                  <p-listbox
                    [options]="timeframes"
                    [ngModel]="selectedTimeframe"
                    (ngModelChange)="setTimeframeValue($event)"
                    optionLabel="label"
                    [style]="{ width: '15rem' }"
                    [listStyle]="{ 'max-height': '220px' }"
                  >
                  </p-listbox>
                </div>
                <h4>What type of artist?</h4>
                <div class="musician-selection">
                  <p-dropdown
                    [options]="musicianType"
                    [ngModel]="selectedMusician"
                    (ngModelChange)="setMusicianTypeValue($event)"
                    optionLabel="label"
                    [style]="{ width: '15rem' }"
                    [showClear]="true"
                    placeholder="Select an Artist Type"
                    [class.highlight]="highlightMusician"
                  >
                  </p-dropdown>
                </div>

                <button class="btn btn-secondary" (click)="onSubmit()">
                  <span class="text">Confirm</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="description-center-content">
    <div class="row justify-content-center">
      <!-- Column 1 -->
      <div class="col-md-6 description-padding d-flex justify-content-center align-items-center recapd-example-card">
        <img
          src="../../content/images/recapd-example-card.png"
          alt="Title Photo"
          class="title-photo img-fluid rounded vanilla-tilt-img fade-in-up"
        />
      </div>

      <!-- Column 2 -->
      <div class="col-md-6 description-padding d-flex flex-column justify-content-center align-items-center">
        <h2 class="how-it-works-title title-shift-left">How It Works</h2>
        <div class="description-text">
          <h5>
            ReCAPD allows you to find the musicians and <br />artists behind the music you love. <br /><br />
            We scan your Spotify library, and use our <br />
            proprietary dataset to find the tracks you love <br />
            on the MusicBrainz database. <br />
            <br />
            We then scan this data to find the producers, <br />
            guitarists, bassists (and more) that are credited <br />
            in the most songs in your library.<br />
            <br />
            Simply select the type of artist you want to <br />
            find, select the timeframe, and from where <br />
            you want to scan, and we do the rest! <br />
            <br />
            Your favourite musician isn't in the list? <br />
            Consider contributing to MusicBrainz and <br />
            get them recognised! <br />
            <br />
            Click <a href="/data-methodology" style="text-decoration: none">here</a> to learn more about our data <br />
            methodology and download our dataset. <br />
          </h5>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="isLoading" class="loading-container">
  <div class="loading-wheel"></div>
  <p>{{ currentFlavorText }}</p>
</div>

<div *ngIf="currentScreen === 'error'" class="error-container">
  <p>error getting recapped</p>
</div>

<div *ngIf="currentScreen === 'results'" class="page-1" [ngClass]="getActivePageClass()">
  <div *ngIf="currentPage === 0">
    <div class="summary-container">
      <div class="summary-textlarge">Over the last {{ getTimeframeLabel() }} you added</div>
      <div class="summary-number">{{ animatedNumSongs | number: '1.0-0' }}</div>
      <div class="summary-textlarge">songs to your library from</div>
      <div class="summary-number">{{ response.totalArtists }}</div>
      <div class="summary-textlarge">different artists!</div>
      <div class="summary-textsmall">That's {{ getTotalLibraryDuration() }} of listening in total.</div>
      <div class="summary-textsmaller">Just {{ getPercentageOfSpotifyLibrary() }} on Spotify!</div>
    </div>
  </div>

  <div *ngIf="currentPage === 1" class="page2">QUIZ - TOP PRODUCER</div>

  <div *ngIf="currentPage === 2" class="page3">
    <div class="results-container-page3">
      <div class="your-top-title">Your Top Producers from the Past Year</div>
      <div class="top-producers">
        <div class="producer-hero">
          <div class="num1artist">
            <div class="num1 left">#1</div>
            <div class="num1artisttext">{{ response.numOneArtistName }}</div>
          </div>
          <img [src]="response.numOneHeroImg" alt="{{ response.numOneArtistName }}" class="hero-img" />
          <div class="hero-text-right-1">You’ve saved</div>
          <div class="hero-text-right-2">{{ animatedNumSongs | number: '1.0-0' }}</div>
          <div class="hero-text-right-3">songs of theirs</div>
        </div>
        <ul class="two-to-five-producer-list">
          <li>
            <div class="twoFiveContainer">
              <div class="position">#2</div>
              <div class="twofiveartistname">{{ response.numTwoArtistName }}</div>
            </div>
            <div class="numOfSongs">
              {{ response.numTwoAristNumSongs }}
              <div class="song-text">songs saved</div>
            </div>
          </li>
          <li>
            <div class="twoFiveContainer">
              <div class="position">#3</div>
              <div class="twofiveartistname">{{ response.numThreeArtistName }}</div>
            </div>
            <div class="numOfSongs">
              {{ response.numThreeAristNumSongs }}
              <div class="song-text">songs saved</div>
            </div>
          </li>
          <li>
            <div class="twoFiveContainer">
              <div class="position">#4</div>
              <div class="twofiveartistname">{{ response.numFourArtistName }}</div>
            </div>
            <div class="numOfSongs">
              {{ response.numFourAristNumSongs }}
              <div class="song-text">songs saved</div>
            </div>
          </li>
          <li>
            <div class="twoFiveContainer">
              <div class="position">#5</div>
              <div class="twofiveartistname">{{ response.numFiveArtistName }}</div>
            </div>
            <div class="numOfSongs">
              {{ response.numFiveAristNumSongs }}
              <div class="song-text">songs saved</div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div *ngIf="currentPage === 3">
    <div class="smaller-artist-container">
      <div class="smaller-artist-textlarge">By follower count, these were your favourite artists under..</div>
      <div class="smaller-artist-subcontainer">
        <div class="smaller-artist-card">
          <div class="smaller-artist-textmed">1k followers</div>
          <div class="smaller-artist-artistname">1k followers</div>
        </div>
        <div class="smaller-artist-card">
          <div class="smaller-artist-textmed">10k followers</div>

          <div class="smaller-artist-artistname">10k followers</div>
        </div>
        <div class="smaller-artist-card">
          <div class="smaller-artist-textmed">100k followers</div>
          <div class="smaller-artist-artistname">100k followers</div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="currentPage === 4">TABLE HERE</div>

  <div class="page-selector">
    <button (click)="navigateUp()" [disabled]="currentPage <= 0" class="arrow up-arrow">&#9650;</button>
    <span>{{ currentPage + 1 }}/{{ totalPages }}</span>
    <button (click)="navigateDown()" [disabled]="currentPage >= totalPages - 1" class="arrow down-arrow">&#9660;</button>
  </div>
</div>
