.container {
  text-align: center;
  position: relative;
  color: white;
  padding: 10px 20px;
  margin: auto;
  background-color: transparent;
  border-radius: 0.375rem;
  align-items: center;
  width: 61%;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.title,
.subtitle {
  font-family: 'Dela Gothic One', cursive;
}

.title {
  font-size: 54px;
  margin-bottom: 5px;
  line-height: 1;
}

.content {
  font-size: 18px;
  padding: 10px;
  margin: 10px;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
}

.text-containers {
  align-self: center;
  background: transparent;
  backdrop-filter: blur(20000px);
  padding: 20px;
  margin-bottom: 25px;
  border-radius: 0.375rem;
  box-shadow: 0 0 5px #272727;
  width: 62.5%;
}

a {
  text-decoration: none;
  color: whitesmoke;
}

a:hover {
  text-decoration: underline;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

/* Style the table headers */
th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}
