<div class="container">
  <h1 class="title">Privacy Policy</h1>
</div>

<div class="content">
  <div class="text-containers">
    <p>
      Lowertones is part of Lowertones LLC. This privacy policy will explain how our organization uses the personal data we collect from you
      when you use our website.
    </p>

    <h3>Topics:</h3>
    <ul>
      <li>What data do we collect?</li>
      <li>How do we collect your data?</li>
      <li>How will we use your data?</li>
      <li>How do we store your data?</li>
      <li>Marketing</li>
      <li>What are your data protection rights?</li>
      <li>What are cookies?</li>
      <li>How do we use cookies?</li>
      <li>What types of cookies do we use?</li>
      <li>How to manage your cookies</li>
      <li>Privacy policies of other websites</li>
      <li>Changes to our privacy policy</li>
      <li>How to contact us</li>
      <li>How to contact the appropriate authorities</li>
    </ul>
  </div>

  <br />

  <div class="text-containers">
    <h3>What data do we collect?</h3>
    <p>These tables show what categories of personal data we collect from you.</p>

    <br />

    <h5>This data is collected when you sign up for Lowertones.</h5>

    <table>
      <tr>
        <th>Category</th>
        <th>Description</th>
      </tr>
      <tr>
        <td>User Data</td>
        <td>
          This personal data is required for us to create your Lowertones account. It enables you to use the Lowertones service.
          <br />
          This data includes your:
          <ul>
            <li>Full Name</li>
            <li>Email</li>
          </ul>
          We receive this data from you when you sign up for a Lowertones account.
        </td>
      </tr>
    </table>

    <br />

    <h5>This data is collected when you link a third party account (Spotify).</h5>

    <table>
      <tr>
        <th>Category</th>
        <th>Description</th>
      </tr>
      <tr>
        <td>Third Party Account Data</td>
        <td>
          This data is collected when you link your Spotify account to your Lowertones account.
          <br />
          <br />
          This data includes your:
          <ul>
            <li>Spotify User ID</li>
            <li>Spotify Access Token</li>
            <li>Spotify Refresh Token</li>
          </ul>
          Some of this data, namely the access and refresh tokens may be periodically updated to ensure the Lowertones service functions as
          intended.
        </td>
      </tr>
    </table>
  </div>

  <br />

  <div class="text-containers">
    <h3>How do we collect your data?</h3>
    <p>You directly provide Lowertones with most of the data we collect. We collect data and process data when you:</p>
    <ul>
      <li>Register online or use any of our products or services.</li>
      <li>Voluntarily complete a customer survey or provide feedback via email.</li>
      <li>Use or view our website via your browser's cookies.</li>
    </ul>
    <p>Lowertones may also receive your data indirectly from the following source(s):</p>
    <ul>
      <li>Spotify API</li>
    </ul>
  </div>

  <br />

  <div class="text-containers">
    <h3>How will we use your data?</h3>
    <p>Lowertones collects your data so that we can:</p>
    <ul>
      <li>Provide you with our services, manage your account.</li>
      <li>Email you with special offers on other products and services we think you might like.</li>
    </ul>
  </div>

  <br />

  <div class="text-containers">
    <h3>How do we store your data?</h3>
    <p>Lowertones securely stores your data, which is encrypted in our backend.</p>
    <p>
      Lowertones will keep your User Data and Third Party Data until you have not used Lowertones or any of our services for 2 years. You
      may also request the termination of your account and the deletion of your data. Once this time period has passed without any usage, or
      you have requested account deletion, we will delete your data within 1 month.
    </p>
  </div>

  <br />

  <div class="text-containers">
    <h3>Marketing</h3>
    <p>
      Lowertones would like to send you information about products and services of ours that we think you might like. If you have agreed to
      receive marketing, you may always opt out at a later date. You have the right at any time to stop Lowertones from contacting you for
      marketing purposes.
    </p>
  </div>

  <br />

  <div class="text-containers">
    <h3>What are your data protection rights?</h3>
    <p>
      Lowertones would like to make sure you are fully aware of all of your data protection rights. Every user is entitled to the following:
    </p>
    <ul>
      <li>
        The right to access - You have the right to request Lowertones for copies of your personal data. We may charge you a small fee for
        this service.
      </li>
      <li>
        The right to rectification - You have the right to request that Lowertones correct any information you believe is inaccurate. You
        also have the right to request Lowertones to complete information you believe is incomplete.
      </li>
      <li>The right to erasure - You have the right to request that Lowertones erase your personal data, under certain conditions.</li>
      <li>
        The right to restrict processing - You have the right to request that Lowertones restrict the processing of your personal data,
        under certain conditions.
      </li>
      <li>
        The right to object to processing - You have the right to object to Lowertones’ processing of your personal data, under certain
        conditions.
      </li>
      <li>
        The right to data portability - You have the right to request that Lowertones transfer the data that we have collected to another
        organization, or directly to you, under certain conditions.
      </li>
    </ul>
    <p>
      If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us
      through our emails, at the end of our privacy policy.
    </p>
  </div>

  <br />

  <div class="text-containers">
    <h3>What are cookies?</h3>
    <p>
      Cookies are text files placed on your computer to collect standard Internet log information and visitor behavior information. When you
      visit our websites, we may collect information from you automatically through cookies or similar technology.
    </p>
    <p>For further information, visit <a href="https://allaboutcookies.org" target="_blank">allaboutcookies.org</a>.</p>
  </div>

  <br />

  <div class="text-containers">
    <h3>How do we use cookies?</h3>
    <p>Our Company uses cookies in a range of ways to improve your experience on our website, including:</p>
    <ul>
      <li>Keeping you signed in</li>
      <li>Saving your accessibility settings</li>
    </ul>
  </div>

  <br />

  <div class="text-containers">
    <h3>What types of cookies do we use?</h3>
    <p>There are a number of different types of cookies, however, our website uses:</p>
    <ul>
      <li>
        Functionality - Lowertones uses these cookies so that we recognize you on our website and remember your previously selected
        preferences. These could include what language you prefer and accessibility settings.
      </li>
    </ul>
  </div>

  <br />

  <div class="text-containers">
    <h3>How to manage cookies</h3>
    <p>
      You can set your browser not to accept cookies, and the above website tells you how to remove cookies from your browser. However, in a
      few cases, some of our website features may not function as a result.
    </p>
  </div>

  <br />

  <div class="text-containers">
    <h3>Privacy policies of other websites</h3>
    <p>
      The Lowertones website contains links to other websites. Our privacy policy applies only to our website, so if you click on a link to
      another website, you should read their privacy policy.
    </p>
  </div>

  <br />

  <div class="text-containers">
    <h3>Changes to our privacy policy</h3>
    <p>
      Lowertones keeps its privacy policy under regular review and places any updates on this web page. This privacy policy was last updated
      on 04 March 2024.
    </p>
  </div>

  <br />

  <div class="text-containers">
    <h3>How to contact us</h3>
    <p>
      If you have any questions about Lowertones’ privacy policy, the data we hold on you, or you would like to exercise one of your data
      protection rights, please do not hesitate to contact us:
    </p>
    <ul>
      <li><a href="mailto:dxe033@student.bham.ac.uk">dxe033@student.bham.ac.uk</a></li>
      <li><a href="mailto:dxp232@student.bham.ac.uk">dxp232@student.bham.ac.uk</a></li>
      <li><a href="mailto:dxs251@student.bham.ac.uk">dxs251@student.bham.ac.uk</a></li>
      <li><a href="mailto:gxf267@student.bham.ac.uk">gxf267@student.bham.ac.uk</a></li>
      <li><a href="mailto:hxs362@student.bham.ac.uk">hxs362@student.bham.ac.uk</a></li>
      <li><a href="mailto:rxs1099@student.bham.ac.uk">rxs1099@student.bham.ac.uk</a></li>
      <li><a href="mailto:wxp218@student.bham.ac.uk">wxp218@student.bham.ac.uk</a></li>
    </ul>
  </div>

  <br />

  <div class="text-containers">
    <h3>How to contact the appropriate authority</h3>
    <p>
      Should you wish to report a complaint or if you feel that Our Company has not addressed your concern in a satisfactory manner, you may
      contact the Information Commissioner's Office at:
      <a href="https://ico.org.uk/global/contact-us/contact-us-public/" target="_blank"
        >https://ico.org.uk/global/contact-us/contact-us-public/</a
      >
    </p>
  </div>
</div>
