<div class="card">
  <div class="description-center-content">
    <h2 class="how-it-works-title title-shift-left">Our Data Methodology</h2>
    <div class="columns">
      <div class="column">
        <h3 class="recapd-title title-shift-left">ReCAPD</h3>
        <p>
          ReCAPD allows you to find the musicians and artists behind the music you love. To do this we utilise the MusicBrainz database,
          which is a community-driven database of music metadata. The database provides a wealth of information about artists, albums, and
          tracks, and is used by music services and enthusiasts worldwide. If you like our service, consider contributing to MusicBrainz to
          help people learn more about the people behind their music.
          <br /><br />
          We prepopulated our database with 35,000 of the most popular artists and 4.8 million tracks from Spotify. We then needed to
          generate a mapping between the Spotify and MusicBrainz datasets - if you know about these datasets, this is no mean feat. We
          started with the low-hanging fruit - artists with a Spotify URL in their MusicBrainz profile, and then led to a more complex
          process of matching artists based on their name and the names of their albums. The resulting Artist MBID to Spotify mapping for
          the artists is available for download
          <a
            href="https://drive.google.com/file/d/1G5Y0Ye6RHYyQ1-xLlf2es9X3MdcPbPp8/view?usp=drive_link"
            style="text-decoration: none; color: #ddbce7"
            >here</a
          >. Once we had the Spotify ID to MusicBrainz ID mapping for artist, we could then move onto mapping MusicBrainz tracks to Spotify
          tracks. <br /><br />
          MusicBrainz kindly offers the ability to host a copy of their database, which we used retrieve song attributions (a.k.a.
          contributors) for all tracks with them on their platform. Due to the nature of our service, we only require a mapping between
          Spotify tracks and MusicBrainz tracks, where the MusicBrainz track has a contributor. The resulting Spotify track to MusicBrainz
          track mapping is available for download
          <a
            href="https://drive.google.com/file/d/1CNT2uZuk7gP_YGX_dHl-sOn-jUmz_XwD/view?usp=sharing"
            style="text-decoration: none; color: #ddbce7"
            >here</a
          >. <br /><br />
          We have published 2 public REST APIs for access to this dataset:
          <br />
          <br />
          <code>https://team37.bham.team/api/mbid-spotify-song-mapping/spotify-song-id</code>
          <br />- given a Spotify song ID, this will return a MusicBrainz Recording ID, if in our system.
          <br />
          <br />
          <code>https://team37.bham.team/api/mbid-spotify-artist-mapping/spotify-artist-id</code>
          <br />- given a Spotify artist ID, this will return a MusicBrainz Artist ID, if in our system.
        </p>
      </div>

      <div class="column">
        <h3 class="recapd-title title-shift-left">Network</h3>
        <p>
          Network provides a comprehensive and refined visualization of your Spotify data. It operates by extracting data from your Spotify
          account by meticulously analysing your listening habits, including which artists you listen to most frequently and the playlists
          you have created. You have the option to tailor the visualization to reflect different periods, such as recent listens or all-time
          favorites, and you can adjust the connections shown based on artist similarity.
          <br /><br />

          To visualise this data, we leverage the robust capabilities of
          <a href="https://d3js.org/" style="text-decoration: none; color: #ddbce7">D3</a>
          - a leading JavaScript library for crafting sophisticated data visualizations. D3 enables us to show you a force-directed graph
          that illustrates the intricate connections between your top artists. This graph is not only functional but also aesthetically
          pleasing, allowing for an engaging way to explore your musical world.
          <br />
          <br />
          The Network Stats section offers an in-depth look at your musical preferences. It provides insights into the genres that dominate
          your playlists and the artists that you favor, helping you understand your unique taste in music. The Mainstream Factor metric is
          also available to give you a sense of how your music choices compare to wider trends.

          <br /><br />

          Network is designed to be intuitive and user-friendly, catering to both music enthusiasts and casual listeners alike. Whether
          you're interested in a broad overview or detailed analytics about your playlists, the Network feature provides valuable insights
          and a unique perspective on your musical interests.
          <br /><br />
        </p>
      </div>
    </div>
  </div>
</div>
