<div class="footer">
  <p>
    Powered by
    <a href="https://open.spotify.com/" target="_blank" style="text-decoration: none">
      <img
        src="../../../content/images/Spotify_Icon_RGB_Black.png"
        alt="Spotify Logo"
        style="vertical-align: middle; margin-bottom: 5px; width: 25px; height: 25px"
      />
    </a>
    and
    <a href="https://musicbrainz.org/" target="_blank" style="text-decoration: none">
      <img
        src="../../../content/images/MusicBrainz_Logo.png"
        alt="MusicBrainz Logo"
        style="vertical-align: middle; margin-bottom: 5px; width: 120px; height: 20px"
      />
    </a>
    - <a href="/gdpr-policy">GDPR Policy</a>
    - You are accessing an experimental web application developed by participants of the Team Project 2024 module.
  </p>
</div>
