@import '~bootstrap/scss/functions';
@import '~bootswatch/dist/flatly/variables';
@import '~bootstrap/scss/variables';

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 5vh; // You can adjust the height as needed
  margin: 0 auto;
  width: 100%; // Ensures the footer extends full width
}

.footer p {
  margin: 0; // Removes default paragraph margin
  font-size: small;
  color: rgba(255, 255, 255, 0.716);
}

.footer a {
  color: rgba(255, 255, 255, 0.716);
}
