<div class="container">
  <h1 class="title">Preferences</h1>
  <h2 class="subtitle">Customise your experience</h2>
</div>

<div class="content">
  <div class="text-container">
    <form [formGroup]="appUserForm" *ngIf="appUserForm" (ngSubmit)="savePreferences()">
      <h2>Additional features</h2>
      <div class="preferenceTitle">
        <label>Email updates</label>
        <input
          type="checkbox"
          id="toggleEmailUpdates"
          [checked]="appUserForm.get('discoverWeeklyBufferSettings')?.value === 0"
          (change)="toggleEmailUpdates()"
        />
      </div>
      <div class="preferenceSubtitle">Get notified when there is an update to Lowertones.</div>

      <br />
      <h2>Accessibility</h2>
      <div class="preferenceTitle">
        <label>High colour contrast</label>
        <input type="checkbox" id="toggleHighContrast" formControlName="highContrastMode" (change)="savePreferences()" />
      </div>
      <div class="preferenceSubtitle">Simplify colour scheme for better readability.</div>

      <br />
      <div class="preferenceTitle">
        <label>Text size</label>
        <select id="dropdown" class="custom-dropdown" formControlName="textSize" (change)="savePreferences()">
          <option value="100" [selected]="appUserForm.get('textSize')?.value === 100">Normal</option>
          <option value="115" [selected]="appUserForm.get('textSize')?.value === 115">Large</option>
          <option value="125" [selected]="appUserForm.get('textSize')?.value === 125">Extra Large</option>
        </select>
      </div>
      <div class="preferenceSubtitle">Increase text size for better readability.</div>
      <br />
    </form>

    <h2>Account details</h2>

    <jhi-alert-error></jhi-alert-error>

    <form name="form" role="form" (ngSubmit)="saveUser()" [formGroup]="userForm">
      <div class="mb-3">
        <label class="form-label" for="email">Email</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Your email" formControlName="email" data-cy="email" />

        <div *ngIf="userForm.get('email')!.dirty || userForm.get('email')!.touched">
          <small class="form-text text-danger" *ngIf="userForm.get('email')?.errors?.required"> Your email is required. </small>

          <small class="form-text text-danger" *ngIf="userForm.get('email')?.errors?.email"> Your email is invalid. </small>

          <small class="form-text text-danger" *ngIf="userForm.get('email')?.errors?.minlength">
            Your email is required to be at least 5 characters.
          </small>

          <small class="form-text text-danger" *ngIf="userForm.get('email')?.errors?.maxlength">
            Your email cannot be longer than 50 characters.
          </small>
        </div>
      </div>

      <button type="submit" [disabled]="userForm.invalid" class="btn btn-primary" data-cy="submit">Save</button>
    </form>

    <br />
    <div class="alert alert-success" *ngIf="success">
      <strong>Email saved!</strong>
    </div>

    <br />
    <div class="preferenceTitle">Password</div>
    <div class="button-container">
      <a href="account/password" class="btn btn-primary">Change password</a>
    </div>

    <br />
    <h2>Security</h2>
    <div class="button-container">
      <button (click)="signOutAllDevices()" class="btn btn-primary">Sign out of all devices</button>
      <br />
      <button (click)="deleteCurrentUser()" class="btn btn-primary">Delete account</button>
    </div>
  </div>
</div>
