<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-song-heading" data-cy="SongCreateUpdateHeading">Create or edit a Song</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_songSpotifyID">Song Spotify ID</label>
          <input
            type="text"
            class="form-control"
            name="songSpotifyID"
            id="field_songSpotifyID"
            data-cy="songSpotifyID"
            formControlName="songSpotifyID"
          />
          <div
            *ngIf="
              editForm.get('songSpotifyID')!.invalid && (editForm.get('songSpotifyID')!.dirty || editForm.get('songSpotifyID')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('songSpotifyID')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_songTitle">Song Title</label>
          <input type="text" class="form-control" name="songTitle" id="field_songTitle" data-cy="songTitle" formControlName="songTitle" />
          <div *ngIf="editForm.get('songTitle')!.invalid && (editForm.get('songTitle')!.dirty || editForm.get('songTitle')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('songTitle')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_songDuration">Song Duration</label>
          <input
            type="number"
            class="form-control"
            name="songDuration"
            id="field_songDuration"
            data-cy="songDuration"
            formControlName="songDuration"
          />
          <div
            *ngIf="editForm.get('songDuration')!.invalid && (editForm.get('songDuration')!.dirty || editForm.get('songDuration')!.touched)"
          >
            <small class="form-text text-danger" *ngIf="editForm.get('songDuration')?.errors?.required"> This field is required. </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('songDuration')?.errors?.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_songAlbumType">Song Album Type</label>
          <select
            class="form-control"
            name="songAlbumType"
            formControlName="songAlbumType"
            id="field_songAlbumType"
            data-cy="songAlbumType"
          >
            <option [ngValue]="null"></option>
            <option *ngFor="let albumType of albumTypeValues" [value]="albumType">albumType</option>
          </select>
          <div
            *ngIf="
              editForm.get('songAlbumType')!.invalid && (editForm.get('songAlbumType')!.dirty || editForm.get('songAlbumType')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('songAlbumType')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_songAlbumID">Song Album ID</label>
          <input
            type="text"
            class="form-control"
            name="songAlbumID"
            id="field_songAlbumID"
            data-cy="songAlbumID"
            formControlName="songAlbumID"
          />
          <div *ngIf="editForm.get('songAlbumID')!.invalid && (editForm.get('songAlbumID')!.dirty || editForm.get('songAlbumID')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('songAlbumID')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_songExplicit">Song Explicit</label>
          <input
            type="checkbox"
            class="form-check"
            name="songExplicit"
            id="field_songExplicit"
            data-cy="songExplicit"
            formControlName="songExplicit"
          />
          <div
            *ngIf="editForm.get('songExplicit')!.invalid && (editForm.get('songExplicit')!.dirty || editForm.get('songExplicit')!.touched)"
          >
            <small class="form-text text-danger" *ngIf="editForm.get('songExplicit')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_songPopularity">Song Popularity</label>
          <input
            type="number"
            class="form-control"
            name="songPopularity"
            id="field_songPopularity"
            data-cy="songPopularity"
            formControlName="songPopularity"
          />
          <div
            *ngIf="
              editForm.get('songPopularity')!.invalid && (editForm.get('songPopularity')!.dirty || editForm.get('songPopularity')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('songPopularity')?.errors?.required"> This field is required. </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('songPopularity')?.errors?.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_songPreviewURL">Song Preview URL</label>
          <input
            type="text"
            class="form-control"
            name="songPreviewURL"
            id="field_songPreviewURL"
            data-cy="songPreviewURL"
            formControlName="songPreviewURL"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_songTrackFeaturesAdded">Song Track Features Added</label>
          <input
            type="checkbox"
            class="form-check"
            name="songTrackFeaturesAdded"
            id="field_songTrackFeaturesAdded"
            data-cy="songTrackFeaturesAdded"
            formControlName="songTrackFeaturesAdded"
          />
          <div
            *ngIf="
              editForm.get('songTrackFeaturesAdded')!.invalid &&
              (editForm.get('songTrackFeaturesAdded')!.dirty || editForm.get('songTrackFeaturesAdded')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('songTrackFeaturesAdded')?.errors?.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_songAcousticness">Song Acousticness</label>
          <input
            type="number"
            class="form-control"
            name="songAcousticness"
            id="field_songAcousticness"
            data-cy="songAcousticness"
            formControlName="songAcousticness"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_songDanceability">Song Danceability</label>
          <input
            type="number"
            class="form-control"
            name="songDanceability"
            id="field_songDanceability"
            data-cy="songDanceability"
            formControlName="songDanceability"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_songEnergy">Song Energy</label>
          <input
            type="number"
            class="form-control"
            name="songEnergy"
            id="field_songEnergy"
            data-cy="songEnergy"
            formControlName="songEnergy"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_songInstrumentalness">Song Instrumentalness</label>
          <input
            type="number"
            class="form-control"
            name="songInstrumentalness"
            id="field_songInstrumentalness"
            data-cy="songInstrumentalness"
            formControlName="songInstrumentalness"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_songLiveness">Song Liveness</label>
          <input
            type="number"
            class="form-control"
            name="songLiveness"
            id="field_songLiveness"
            data-cy="songLiveness"
            formControlName="songLiveness"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_songLoudness">Song Loudness</label>
          <input
            type="number"
            class="form-control"
            name="songLoudness"
            id="field_songLoudness"
            data-cy="songLoudness"
            formControlName="songLoudness"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_songSpeechiness">Song Speechiness</label>
          <input
            type="number"
            class="form-control"
            name="songSpeechiness"
            id="field_songSpeechiness"
            data-cy="songSpeechiness"
            formControlName="songSpeechiness"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_songTempo">Song Tempo</label>
          <input type="number" class="form-control" name="songTempo" id="field_songTempo" data-cy="songTempo" formControlName="songTempo" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_songValence">Song Valence</label>
          <input
            type="number"
            class="form-control"
            name="songValence"
            id="field_songValence"
            data-cy="songValence"
            formControlName="songValence"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_songKey">Song Key</label>
          <input type="number" class="form-control" name="songKey" id="field_songKey" data-cy="songKey" formControlName="songKey" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_songTimeSignature">Song Time Signature</label>
          <input
            type="number"
            class="form-control"
            name="songTimeSignature"
            id="field_songTimeSignature"
            data-cy="songTimeSignature"
            formControlName="songTimeSignature"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_songDateAddedToDB">Song Date Added To DB</label>
          <div class="input-group">
            <input
              id="field_songDateAddedToDB"
              data-cy="songDateAddedToDB"
              type="text"
              class="form-control"
              name="songDateAddedToDB"
              ngbDatepicker
              #songDateAddedToDBDp="ngbDatepicker"
              formControlName="songDateAddedToDB"
            />
            <button type="button" class="btn btn-secondary" (click)="songDateAddedToDBDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
          <div
            *ngIf="
              editForm.get('songDateAddedToDB')!.invalid &&
              (editForm.get('songDateAddedToDB')!.dirty || editForm.get('songDateAddedToDB')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('songDateAddedToDB')?.errors?.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_songDateLastModified">Song Date Last Modified</label>
          <div class="input-group">
            <input
              id="field_songDateLastModified"
              data-cy="songDateLastModified"
              type="text"
              class="form-control"
              name="songDateLastModified"
              ngbDatepicker
              #songDateLastModifiedDp="ngbDatepicker"
              formControlName="songDateLastModified"
            />
            <button type="button" class="btn btn-secondary" (click)="songDateLastModifiedDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
          <div
            *ngIf="
              editForm.get('songDateLastModified')!.invalid &&
              (editForm.get('songDateLastModified')!.dirty || editForm.get('songDateLastModified')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('songDateLastModified')?.errors?.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_album">Album</label>
          <select class="form-control" id="field_album" data-cy="album" name="album" formControlName="album" [compareWith]="compareAlbum">
            <option [ngValue]="null"></option>
            <option [ngValue]="albumOption" *ngFor="let albumOption of albumsSharedCollection">{{ albumOption.id }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
