<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="playlistSongJoin">
      <h2 data-cy="playlistSongJoinDetailsHeading"><span>Playlist Song Join</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ playlistSongJoin.id }}</span>
        </dd>
        <dt><span>Song Order Index</span></dt>
        <dd>
          <span>{{ playlistSongJoin.songOrderIndex }}</span>
        </dd>
        <dt><span>Playlist</span></dt>
        <dd>
          <div *ngIf="playlistSongJoin.playlist">
            <a [routerLink]="['/playlist', playlistSongJoin.playlist.id, 'view']">{{ playlistSongJoin.playlist.id }}</a>
          </div>
        </dd>
        <dt><span>Song</span></dt>
        <dd>
          <div *ngIf="playlistSongJoin.song">
            <a [routerLink]="['/song', playlistSongJoin.song.id, 'view']">{{ playlistSongJoin.song.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/playlist-song-join', playlistSongJoin.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
