<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="song">
      <h2 data-cy="songDetailsHeading"><span>Song</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ song.id }}</span>
        </dd>
        <dt><span>Song Spotify ID</span></dt>
        <dd>
          <span>{{ song.songSpotifyID }}</span>
        </dd>
        <dt><span>Song Title</span></dt>
        <dd>
          <span>{{ song.songTitle }}</span>
        </dd>
        <dt><span>Song Duration</span></dt>
        <dd>
          <span>{{ song.songDuration }}</span>
        </dd>
        <dt><span>Song Album Type</span></dt>
        <dd>
          <span>{{ song.songAlbumType }}</span>
        </dd>
        <dt><span>Song Album ID</span></dt>
        <dd>
          <span>{{ song.songAlbumID }}</span>
        </dd>
        <dt><span>Song Explicit</span></dt>
        <dd>
          <span>{{ song.songExplicit }}</span>
        </dd>
        <dt><span>Song Popularity</span></dt>
        <dd>
          <span>{{ song.songPopularity }}</span>
        </dd>
        <dt><span>Song Preview URL</span></dt>
        <dd>
          <span>{{ song.songPreviewURL }}</span>
        </dd>
        <dt><span>Song Track Features Added</span></dt>
        <dd>
          <span>{{ song.songTrackFeaturesAdded }}</span>
        </dd>
        <dt><span>Song Acousticness</span></dt>
        <dd>
          <span>{{ song.songAcousticness }}</span>
        </dd>
        <dt><span>Song Danceability</span></dt>
        <dd>
          <span>{{ song.songDanceability }}</span>
        </dd>
        <dt><span>Song Energy</span></dt>
        <dd>
          <span>{{ song.songEnergy }}</span>
        </dd>
        <dt><span>Song Instrumentalness</span></dt>
        <dd>
          <span>{{ song.songInstrumentalness }}</span>
        </dd>
        <dt><span>Song Liveness</span></dt>
        <dd>
          <span>{{ song.songLiveness }}</span>
        </dd>
        <dt><span>Song Loudness</span></dt>
        <dd>
          <span>{{ song.songLoudness }}</span>
        </dd>
        <dt><span>Song Speechiness</span></dt>
        <dd>
          <span>{{ song.songSpeechiness }}</span>
        </dd>
        <dt><span>Song Tempo</span></dt>
        <dd>
          <span>{{ song.songTempo }}</span>
        </dd>
        <dt><span>Song Valence</span></dt>
        <dd>
          <span>{{ song.songValence }}</span>
        </dd>
        <dt><span>Song Key</span></dt>
        <dd>
          <span>{{ song.songKey }}</span>
        </dd>
        <dt><span>Song Time Signature</span></dt>
        <dd>
          <span>{{ song.songTimeSignature }}</span>
        </dd>
        <dt><span>Song Date Added To DB</span></dt>
        <dd>
          <span>{{ song.songDateAddedToDB | formatMediumDate }}</span>
        </dd>
        <dt><span>Song Date Last Modified</span></dt>
        <dd>
          <span>{{ song.songDateLastModified | formatMediumDate }}</span>
        </dd>
        <dt><span>Contributor</span></dt>
        <dd>
          <span *ngFor="let contributor of song.contributors; let last = last">
            <a [routerLink]="['/contributor', contributor.id, 'view']">{{ contributor.id }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
        <dt><span>Album</span></dt>
        <dd>
          <div *ngIf="song.album">
            <a [routerLink]="['/album', song.album.id, 'view']">{{ song.album.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/song', song.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
