.content {
  //all content after the title and subtitle
  font-size: 18px;
  padding: 10px;
  margin: auto;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
}

.highContrast {
  background-color: rgb(50, 50, 50) !important;
  .button-container,
  .form-control,
  .btn-primary {
    border: 3px solid red;
  }
  .alert .alert-danger {
    color: yellow !important;
  }
}

.text-container {
  //text box containing all the text
  align-self: center;
  background: #6c559b38;
  padding: 20px;
  border-radius: 0.375rem;
  box-shadow: 0 0 5px #272727;
  width: 65%;
}

.preferenceTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-container {
  display: flex;
  flex-direction: column;
  margin: 5px;
  width: 40%;
}
