<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="spotifyGenreEntity">
      <h2 data-cy="spotifyGenreEntityDetailsHeading"><span>Spotify Genre Entity</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ spotifyGenreEntity.id }}</span>
        </dd>
        <dt><span>Spotify Genre</span></dt>
        <dd>
          <span>{{ spotifyGenreEntity.spotifyGenre }}</span>
        </dd>
        <dt><span>Song</span></dt>
        <dd>
          <div *ngIf="spotifyGenreEntity.song">
            <a [routerLink]="['/song', spotifyGenreEntity.song.id, 'view']">{{ spotifyGenreEntity.song.id }}</a>
          </div>
        </dd>
        <dt><span>Album</span></dt>
        <dd>
          <div *ngIf="spotifyGenreEntity.album">
            <a [routerLink]="['/album', spotifyGenreEntity.album.id, 'view']">{{ spotifyGenreEntity.album.id }}</a>
          </div>
        </dd>
        <dt><span>Main Artist</span></dt>
        <dd>
          <div *ngIf="spotifyGenreEntity.mainArtist">
            <a [routerLink]="['/main-artist', spotifyGenreEntity.mainArtist.id, 'view']">{{ spotifyGenreEntity.mainArtist.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/spotify-genre-entity', spotifyGenreEntity.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
