<div>
  <h2 id="page-heading" data-cy="VaultHeading">
    <span>Vaults</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-vault"
        [routerLink]="['/vault/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Vault </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="vaults?.length === 0">
    <span>No Vaults found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="vaults && vaults.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span>ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="sourcePlaylistID">
            <div class="d-flex">
              <span>Source Playlist ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="playlistName">
            <div class="d-flex">
              <span>Playlist Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="resultPlaylistID">
            <div class="d-flex">
              <span>Result Playlist ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="frequency">
            <div class="d-flex">
              <span>Frequency</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="type">
            <div class="d-flex">
              <span>Type</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="playlistCoverURL">
            <div class="d-flex">
              <span>Playlist Cover URL</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="playlistSnapshotID">
            <div class="d-flex">
              <span>Playlist Snapshot ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let vault of vaults; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/vault', vault.id, 'view']">{{ vault.id }}</a>
          </td>
          <td>{{ vault.sourcePlaylistID }}</td>
          <td>{{ vault.playlistName }}</td>
          <td>{{ vault.resultPlaylistID }}</td>
          <td>{{ vault.frequency }}</td>
          <td>{{ vault.type }}</td>
          <td>{{ vault.playlistCoverURL }}</td>
          <td>{{ vault.playlistSnapshotID }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/vault', vault.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button type="submit" [routerLink]="['/vault', vault.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(vault)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
