<div>
  <h2 id="page-heading" data-cy="PlaylistSongJoinHeading">
    <span>Playlist Song Joins</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-playlist-song-join"
        [routerLink]="['/playlist-song-join/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Playlist Song Join </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="playlistSongJoins?.length === 0">
    <span>No Playlist Song Joins found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="playlistSongJoins && playlistSongJoins.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span>ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="songOrderIndex">
            <div class="d-flex">
              <span>Song Order Index</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="songDateAdded">
            <div class="d-flex">
              <span>Song Date Added</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="playlist.id">
            <div class="d-flex">
              <span>Playlist</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="song.id">
            <div class="d-flex">
              <span>Song</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let playlistSongJoin of playlistSongJoins; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/playlist-song-join', playlistSongJoin.id, 'view']">{{ playlistSongJoin.id }}</a>
          </td>
          <td>{{ playlistSongJoin.songOrderIndex }}</td>
          <td>{{ playlistSongJoin.songDateAdded | formatMediumDate }}</td>
          <td>
            <div *ngIf="playlistSongJoin.playlist">
              <a [routerLink]="['/playlist', playlistSongJoin.playlist.id, 'view']">{{ playlistSongJoin.playlist.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="playlistSongJoin.song">
              <a [routerLink]="['/song', playlistSongJoin.song.id, 'view']">{{ playlistSongJoin.song.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/playlist-song-join', playlistSongJoin.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/playlist-song-join', playlistSongJoin.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(playlistSongJoin)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
