<div>
  <h2 id="page-heading" data-cy="MainArtistHeading">
    <span>Main Artists</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-main-artist"
        [routerLink]="['/main-artist/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Main Artist </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="mainArtists?.length === 0">
    <span>No Main Artists found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="mainArtists && mainArtists.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span>ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="artistSpotifyID">
            <div class="d-flex">
              <span>Artist Spotify ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="artistName">
            <div class="d-flex">
              <span>Artist Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="artistPopularity">
            <div class="d-flex">
              <span>Artist Popularity</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="artistImageSmall">
            <div class="d-flex">
              <span>Artist Image Small</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="artistImageMedium">
            <div class="d-flex">
              <span>Artist Image Medium</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="artistImageLarge">
            <div class="d-flex">
              <span>Artist Image Large</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="artistFollowers">
            <div class="d-flex">
              <span>Artist Followers</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dateAddedToDB">
            <div class="d-flex">
              <span>Date Added To DB</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dateLastModified">
            <div class="d-flex">
              <span>Date Last Modified</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="musicbrainzID">
            <div class="d-flex">
              <span>Musicbrainz ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="relatedArtists.id">
            <div class="d-flex">
              <span>Related Artists</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="album.id">
            <div class="d-flex">
              <span>Album</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let mainArtist of mainArtists; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/main-artist', mainArtist.id, 'view']">{{ mainArtist.id }}</a>
          </td>
          <td>{{ mainArtist.artistSpotifyID }}</td>
          <td>{{ mainArtist.artistName }}</td>
          <td>{{ mainArtist.artistPopularity }}</td>
          <td>{{ mainArtist.artistImageSmall }}</td>
          <td>{{ mainArtist.artistImageMedium }}</td>
          <td>{{ mainArtist.artistImageLarge }}</td>
          <td>{{ mainArtist.artistFollowers }}</td>
          <td>{{ mainArtist.dateAddedToDB | formatMediumDate }}</td>
          <td>{{ mainArtist.dateLastModified | formatMediumDate }}</td>
          <td>{{ mainArtist.musicbrainzID }}</td>
          <td>
            <div *ngIf="mainArtist.relatedArtists">
              <a [routerLink]="['/related-artists', mainArtist.relatedArtists.id, 'view']">{{ mainArtist.relatedArtists.id }}</a>
            </div>
          </td>
          <td>
            <span *ngFor="let album of mainArtist.albums; let last = last">
              <a class="form-control-static" [routerLink]="['/album', album.id, 'view']">{{ album.id }}</a
              >{{ last ? '' : ', ' }}
            </span>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/main-artist', mainArtist.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/main-artist', mainArtist.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(mainArtist)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
