<div class="elements">
  <div class="options">
    <div class="tabs-container">
      <button
        type="button"
        class="top-artists-tab"
        (click)="setActiveTab('topArtists')"
        [class.active]="activeTab === 'topArtists'"
        [class.inactive]="activeTab !== 'playlists'"
        [disabled]="isLoading"
      >
        Top Artists
      </button>
      <button
        type="button"
        class="playlists-tab"
        (click)="setActiveTab('playlists')"
        [class.active]="activeTab === 'playlists'"
        [class.inactive]="activeTab !== 'topArtists'"
        [disabled]="isLoading"
      >
        Playlists
      </button>
    </div>

    <div *ngIf="activeTab === 'playlists'">
      <p-dropdown
        [options]="playlists"
        [(ngModel)]="selectedPlaylistId"
        (onChange)="onPlaylistChange($event.value)"
        [disabled]="isLoading"
        [filter]="true"
        [style]="{ width: '100%', 'min-width': '150px' }"
        styleClass="custom-dropdown"
      >
        <ng-template let-playlist pTemplate="item">
          <div class="playlist-item">
            <img [src]="playlist.image" class="playlist-image" />
            {{ playlist.label }}
          </div>
        </ng-template>

        <ng-template let-playlist pTemplate="selectedItem">
          <div class="playlist-item">
            <img [src]="playlist.image" class="playlist-image-selected" />
            {{ playlist.label }}
          </div>
        </ng-template>
      </p-dropdown>
    </div>

    <div *ngIf="activeTab === 'topArtists'" class="termButtons">
      <button class="button" [class.selected]="timeRange === 'short-term'" (click)="changeTimeRange('short-term')" [disabled]="isLoading">
        Last Month
      </button>
      <button class="button" [class.selected]="timeRange === 'medium-term'" (click)="changeTimeRange('medium-term')" [disabled]="isLoading">
        Last 6 Months
      </button>
      <button class="button" [class.selected]="timeRange === 'long-term'" (click)="changeTimeRange('long-term')" [disabled]="isLoading">
        Last Year
      </button>
    </div>

    <div class="showConnectionsCheckbox">
      <label class="switch">
        <input type="checkbox" [(ngModel)]="showConnections" (change)="toggleConnections($event)" [disabled]="isLoading" />
        <span class="slider round"></span>
      </label>
      <span id="showConnectionsText">Show Connections</span>
    </div>
  </div>

  <div class="content">
    <div class="graph" #graphContainer>
      <div *ngIf="isLoading" class="loading-container">
        <div class="loading-wheel"></div>
        <p>{{ currentFlavorText }}</p>
      </div>
    </div>
    <div class="stats">
      <div class="top-artist">
        <div class="stats-header">
          <span>{{ activeTab === 'topArtists' ? 'Top Artist' : 'Most Popular Artist' }}</span>
        </div>

        <p-skeleton *ngIf="isLoading" width="100%" height="22vh"></p-skeleton>
        <div *ngIf="!isLoading" class="top-artist-container">
          <img [src]="topArtistImage" alt="Top Artist Image" id="topArtistImage" />
          <div class="sound-wave" *ngIf="isPlaying">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
          </div>

          <div class="top-artist-text">
            <div *ngIf="topTrackName && topTrackPreviewUrl" class="artist-controls">
              <span id="topArtistName" class="truncate">{{ topArtistName }}</span>
              <button (click)="playPreview()" id="playButton">{{ isPlaying ? '❚❚' : '▶' }}</button>
            </div>
            <div *ngIf="topTrackName && topTrackPreviewUrl" class="artist-track">
              <span id="topArtistTopTrack" class="truncate">{{ topTrackName }}</span>
            </div>
            <div *ngIf="!topTrackName || !topTrackPreviewUrl" class="artist-name-only">
              <span id="topArtistName" class="truncate">{{ topArtistName }}</span>
            </div>
          </div>
        </div>
      </div>

      <div class="top-genre">
        <div class="stats-header">
          <span>{{ activeTab === 'topArtists' ? 'Top Genre' : 'Main Genre' }}</span>
        </div>

        <p-skeleton *ngIf="isLoading" width="100%" height="10vh"></p-skeleton>
        <div *ngIf="!isLoading" class="top-genre-container">
          <span id="topGenre" class="truncate">{{ topGenre }}</span>
        </div>
      </div>

      <div class="mainstream-score">
        <div class="stats-header"><span>Mainstream Factor</span></div>
        <p-skeleton *ngIf="isLoading" width="100%" height="16vh"></p-skeleton>
        <div *ngIf="!isLoading" class="mainstream-score-container">
          <div class="score-bar" [ngStyle]="{ 'background-color': tasteCategoryDetails?.colorDark }">
            <div
              class="score-fill"
              [@fillAnimation]="{ value: 'end', params: { fillPercentage: displayScore } }"
              [ngStyle]="{ 'background-color': tasteCategoryDetails?.colorLight }"
            ></div>
            <span class="popularity-score">{{ displayScore }}%</span>
          </div>
          <span class="taste-category">{{ tasteCategoryDetails?.name }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
