<div class="elements">
  <div class="options">
    <div>
      <select class="dropdownMenu">
        <option value="option1">Top Artists</option>
        <option value="option2">Playlist #1</option>
        <option value="option3">Playlist #2</option>
        <option value="option4">...</option>
      </select>
    </div>

    <div class="termButtons">
      <button class="button" [class.selected]="timeRange === 'short-term'" (click)="changeTimeRange('short-term')">Last Few Weeks</button>
      <button class="button" [class.selected]="timeRange === 'medium-term'" (click)="changeTimeRange('medium-term')">
        Last Few Months
      </button>
      <button class="button" [class.selected]="timeRange === 'long-term'" (click)="changeTimeRange('long-term')">Last Few Years</button>
    </div>

    <div class="showConnectionsCheckbox"><input type="checkbox" id="showConnectionsCheckbox" /> Show Connections</div>
  </div>

  <div class="content">
    <div class="graph" #graphContainer></div>
    <div class="stats">
      <div class="main-header">
        <div class="highlights">
          <h3>Your Network</h3>
        </div>
      </div>

      <div class="top-artist">
        <div class="stats-header">
          <span>Top Artist</span>
        </div>

        <div class="top-artist-container">
          <img [src]="topArtistImage" width="80px" height="80px" alt="Top Artist Image" id="topArtistImage" />
          <div class="top-artist-text">
            <div id="topArtistName">{{ topArtistName }}</div>
            << top track name >>
          </div>
        </div>
      </div>

      <div class="top-genre">
        <div class="stats-header">
          <span>Top Genre</span>
        </div>

        <div class="top-genre-container">
          <span>{{ topGenre }}</span>
        </div>
      </div>

      <div class="mainstream-score">
        <div class="stats-header">
          <span>Mainstream Score</span>
        </div>

        <div class="mainstream-score-container">
          <span>{{ averagePopularity }}</span>
          <span>{{ tasteCategory }}</span>
        </div>
      </div>

      <div class="share">
        <button>Share Network...</button>
      </div>
    </div>
  </div>
</div>
