<div class="elements">
  <div class="options">
    <div>
      <select class="dropdownMenu">
        <option value="option1">Top Artists</option>
        <option value="option2">Playlist #1</option>
        <option value="option3">Playlist #2</option>
        <option value="option4">...</option>
      </select>
    </div>

    <div class="termButtons">
      <button class="button" [class.selected]="timeRange === 'short-term'" (click)="changeTimeRange('short-term')">Last Few Weeks</button>
      <button class="button" [class.selected]="timeRange === 'medium-term'" (click)="changeTimeRange('medium-term')">
        Last Few Months
      </button>
      <button class="button" [class.selected]="timeRange === 'long-term'" (click)="changeTimeRange('long-term')">Last Few Years</button>
    </div>

    <div class="showConnectionsCheckbox"><input type="checkbox" id="showConnectionsCheckbox" /> Show Connections</div>
  </div>

  <div class="content">
    <div class="graph" #graphContainer></div>
    <div class="stats">
      <div class="top-artist">
        <div class="stats-header">
          <span>Top Artist</span>
        </div>

        <div class="top-artist-container">
          <img [src]="topArtistImage" width="80px" height="80px" alt="Top Artist Image" id="topArtistImage" />
          <div class="top-artist-text">
            <div>{{ topArtistName }}</div>
            <!-- Display top track name and play button if available -->
            <div *ngIf="topTrackName && topTrackPreviewUrl">
              <div>{{ topTrackName }}</div>
              <button (click)="playPreview()">{{ isPlaying ? 'Pause' : 'Play' }}</button>
            </div>
          </div>
        </div>
      </div>

      <div class="top-genre">
        <div class="stats-header">
          <span>Top Genre</span>
        </div>

        <div class="top-genre-container">
          <div id="topGenre">{{ topGenre }}</div>
        </div>
      </div>

      <div class="mainstream-score">
        <div class="stats-header">
          <span>Mainstream Factor</span>
        </div>
        <div class="mainstream-score-container" *ngIf="tasteCategoryDetails">
          <div class="score-bar" [ngStyle]="{ 'background-color': tasteCategoryDetails.colorDark }">
            <div class="score-fill" [ngStyle]="{ width: averagePopularity, 'background-color': tasteCategoryDetails.colorLight }"></div>
            <span class="popularity-score">{{ averagePopularity }}</span>
          </div>
          <span class="taste-category">{{ tasteCategoryDetails.name }}</span>
        </div>
      </div>

      <div class="share">
        <button>Share Network...</button>
      </div>
    </div>
  </div>
</div>
