<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="musicBrainzSongAttribution">
      <h2 data-cy="musicBrainzSongAttributionDetailsHeading"><span>Music Brainz Song Attribution</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ musicBrainzSongAttribution.id }}</span>
        </dd>
        <dt><span>Recording MBID</span></dt>
        <dd>
          <span>{{ musicBrainzSongAttribution.recordingMBID }}</span>
        </dd>
        <dt><span>Recording Title</span></dt>
        <dd>
          <span>{{ musicBrainzSongAttribution.recordingTitle }}</span>
        </dd>
        <dt><span>Song Main Artist Name</span></dt>
        <dd>
          <span>{{ musicBrainzSongAttribution.songMainArtistName }}</span>
        </dd>
        <dt><span>Song Main Artist ID</span></dt>
        <dd>
          <span>{{ musicBrainzSongAttribution.songMainArtistID }}</span>
        </dd>
        <dt><span>Song Contributor MBID</span></dt>
        <dd>
          <span>{{ musicBrainzSongAttribution.songContributorMBID }}</span>
        </dd>
        <dt><span>Song Contributor Name</span></dt>
        <dd>
          <span>{{ musicBrainzSongAttribution.songContributorName }}</span>
        </dd>
        <dt><span>Song Contributor Role</span></dt>
        <dd>
          <span>{{ musicBrainzSongAttribution.songContributorRole }}</span>
        </dd>
        <dt><span>Song Contributor Instrument</span></dt>
        <dd>
          <span>{{ musicBrainzSongAttribution.songContributorInstrument }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button
        type="button"
        [routerLink]="['/music-brainz-song-attribution', musicBrainzSongAttribution.id, 'edit']"
        class="btn btn-primary"
      >
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
