<div>
  <h2 id="page-heading" data-cy="MusicbrainzGenreEntityHeading">
    <span>Musicbrainz Genre Entities</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-musicbrainz-genre-entity"
        [routerLink]="['/musicbrainz-genre-entity/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Musicbrainz Genre Entity </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="musicbrainzGenreEntities?.length === 0">
    <span>No Musicbrainz Genre Entities found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="musicbrainzGenreEntities && musicbrainzGenreEntities.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span>ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="musicbrainzGenre">
            <div class="d-flex">
              <span>Musicbrainz Genre</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="song.id">
            <div class="d-flex">
              <span>Song</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="album.id">
            <div class="d-flex">
              <span>Album</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="mainArtist.id">
            <div class="d-flex">
              <span>Main Artist</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let musicbrainzGenreEntity of musicbrainzGenreEntities; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/musicbrainz-genre-entity', musicbrainzGenreEntity.id, 'view']">{{ musicbrainzGenreEntity.id }}</a>
          </td>
          <td>{{ musicbrainzGenreEntity.musicbrainzGenre }}</td>
          <td>
            <div *ngIf="musicbrainzGenreEntity.song">
              <a [routerLink]="['/song', musicbrainzGenreEntity.song.id, 'view']">{{ musicbrainzGenreEntity.song.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="musicbrainzGenreEntity.album">
              <a [routerLink]="['/album', musicbrainzGenreEntity.album.id, 'view']">{{ musicbrainzGenreEntity.album.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="musicbrainzGenreEntity.mainArtist">
              <a [routerLink]="['/main-artist', musicbrainzGenreEntity.mainArtist.id, 'view']">{{
                musicbrainzGenreEntity.mainArtist.id
              }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/musicbrainz-genre-entity', musicbrainzGenreEntity.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/musicbrainz-genre-entity', musicbrainzGenreEntity.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(musicbrainzGenreEntity)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
