.register-container {
  background-color: #e7e7e7; // Change this to whatever color you prefer
  border: 1px solid #cccccc; // Example border
  max-width: 600px; // Prevents the card from spanning the entire screen width
  margin: 2rem auto; // Centers the card with a margin top and bottom
  padding: 2rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);

  @media (max-width: 900px) {
    // Adjusts for smaller screens
    margin: 1rem;
    padding: 0.5rem;
  }
}
