@import '~bootstrap/scss/functions';
@import '~bootswatch/dist/flatly/variables';
@import '~bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/bootstrap';

/* ==========================================================================
Navbar
========================================================================== */

.navbar {
  display: flex;
  align-items: center;
  padding: 0.2rem 1rem;
  display: flex;
  padding-left: 30px;
  justify-content: space-between;
  align-items: center; // Keeps items vertically centered
  width: 100%; // Ensure the navbar spans the full width of its container

  .dropdown-item.active,
  .dropdown-item.active:focus,
  .dropdown-item.active:hover {
    background-color: #1a4146;
  }
  a.nav-link {
    font-weight: normal;
    color: $gray-200;
    height: 45%;
    white-space: nowrap;
  }
  .navbar-toggler {
    &:hover {
      color: $navbar-dark-hover-color;
    }
  }
  .navbar-custom .dropdown-item:hover {
    --bs-dropdown-link-hover-bg: #ff4500; // Example color
  }
}
.nav-item.dropdown .dropdown-menu {
  top: calc(100% - 20px) !important; // Adjusts the dropdown lower
}

/* ==========================================================================
Spotify button styles
========================================================================== */
.form-control.rounded-pill {
  width: 100%;
  border-radius: 20px;
  margin: 0 auto;
}
.navbar-login-button button.btn-spotify {
  border-radius: 20px;
  background-color: #1db954;
  color: #ffffff;
  white-space: nowrap;
}
.navbar-login-button button.btn-spotify:hover,
.navbar-login-button button.btn-spotify:focus {
  background-color: #116630;
  color: #ffffff;
  outline: none;
}
.navbar-login-button button.btn-spotify:active {
  background-color: #1ca44e;
  color: #ffffff;
}

/* ==========================================================================
Logo styles
========================================================================== */
.logo-img {
  height: 45px;
  width: 150px;
  display: inline-block;
  vertical-align: middle;
  background: url('../../../content/images/lowertones-white-logo-alphabg-large.png') no-repeat center center;
  background-size: contain;
  transform: scale(1.3);
  position: relative;
  top: -3px;
  //padding-right: 160px;
}
.navbar-brand.logo {
  padding-right: 10px; // Adjust this value as needed
}
