//@import 'node_modules/bootstrap/scss/bootstrap';

@font-face {
  font-family: 'neue-plak';
  src: url('../../../content/fonts/NeuePlakcustom3.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* ==========================================================================
Navbar
========================================================================== */

.navbar {
  padding: 0.2rem 1rem;
  z-index: 1030;
  display: flex;
  position: fixed;
  padding-left: 30px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #0000004b !important;
  backdrop-filter: blur(3px);

  .dropdown-item.active,
  .dropdown-item.active:focus,
  .dropdown-item.active:hover {
    background-color: #6c559b;
  }
}
.ml-2 {
  margin-left: 0.5rem !important;
}

.highContrast {
  background-color: rgba(50, 50, 50, 0.8) !important;
  .dropdown-menu {
    background-color: rgb(50, 50, 50) !important;
  }
  .dropdown-item.active {
    background-color: rgb(50, 50, 50) !important;
  }
  .dropdown-item.active:hover {
    background-color: #66b1f1 !important;
  }
}

.nav-link {
  font-weight: normal;
  color: #ffffff;
  white-space: nowrap;
  position: relative;
  display: inline-block;
}

.nav-link.underline-link::after {
  content: '';
  display: block;
  margin: 0 auto;
  height: 2px;
  width: 0%;
  background-color: #66b1f1;
  transition: width 0.5s ease, background-color 0.5s ease;
}

.nav-link.underline-link.active-nav-link::after {
  width: 100%;
}

.navbar-nav {
  height: 50px;
  align-items: center;
}

.nav-item {
  color: #000;
  letter-spacing: 0.1rem;
  transition: all 0.5s ease;
  font-size: 0.85rem;
  padding: 3px;
  &:hover {
    color: white;
    background: rgba(102, 177, 241, 0.8);
    transition: all 0.5s ease;
  }
}

.dropdown-menu {
  background-color: #6c559b;
}

.nav-item .dropdown-menu li:hover a {
  background-color: rgba(102, 177, 241, 0.8);
}

.container-fluid {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.navbar-center {
  position: absolute;
  height: 50px;

  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ==========================================================================
Logo styles
========================================================================== */
.logo-img {
  height: 45px;
  width: 150px;
  display: inline-block;
  vertical-align: middle;
  background: url('../../../content/images/lowertones-white-logo-alphabg-large.png') no-repeat center center;
  background-size: contain;
  transform: scale(1.3);
  position: relative;
  top: -3px;
  //padding-right: 160px;
}
.navbar-brand.logo {
  padding-right: 10px;
}

:host ::ng-deep {
  .p-message .p-message-wrapper {
    padding: 0.4rem 0.6rem;
  }
  .p-message {
    margin: 0;
  }
  .p-message.p-message-success {
    background-color: #bee0c600;
    border: solid #c3e6cb00;
    color: #ffffff;
  }
  .p-message.p-message-warn {
    background-color: #bee0c600;
    border: solid #c3e6cb00;
    color: #ffffff;
  }
  .p-component {
    font-family: 'neue-plak';
  }
}
