//@import 'node_modules/bootstrap/scss/bootstrap';

/* ==========================================================================
Navbar
========================================================================== */

.navbar {
  padding: 0.2rem 1rem;
  z-index: 1030;
  display: flex;
  position: fixed;
  padding-left: 30px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #0000004b !important;

  .dropdown-item.active,
  .dropdown-item.active:focus,
  .dropdown-item.active:hover {
    background-color: #1a4146;
  }
}
.nav-link {
  font-weight: normal;
  color: #ffffff;
  white-space: nowrap;
  position: relative;
  display: inline-block;
}

.nav-link.underline-link::after {
  content: '';
  display: block;
  margin: 0 auto;
  height: 2px;
  width: 0%;
  background-color: #66b1f1;
  transition: width 0.5s ease, background-color 0.5s ease;
}

.nav-link.underline-link.active-nav-link::after {
  width: 100%;
}

.navbar-nav {
  height: 50px;
  align-items: center;
}

.nav-item {
  color: #000;
  letter-spacing: 0.1rem;
  transition: all 0.5s ease;
  font-size: 0.8rem;
  padding: 3px;
  &:hover {
    color: white;
    background: rgba(102, 177, 241, 0.8);
    transition: all 0.5s ease;
  }
}
.container-fluid {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.navbar-center {
  position: absolute;
  height: 50px;

  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ==========================================================================
Spotify button styles
========================================================================== */
.form-control.rounded-pill {
  width: 100%;
  border-radius: 20px;
  margin: 0 auto;
}
.navbar-login-button button.btn-spotify {
  border-radius: 20px;
  background-color: #1db954;
  color: #ffffff;
  white-space: nowrap;
}
.navbar-login-button button.btn-spotify:hover,
.navbar-login-button button.btn-spotify:focus {
  background-color: #116630;
  color: #ffffff;
  outline: none;
}
.navbar-login-button button.btn-spotify:active {
  background-color: #1ca44e;
  color: #ffffff;
}

/* ==========================================================================
Logo styles
========================================================================== */
.logo-img {
  height: 45px;
  width: 150px;
  display: inline-block;
  vertical-align: middle;
  background: url('../../../content/images/lowertones-white-logo-alphabg-large.png') no-repeat center center;
  background-size: contain;
  transform: scale(1.3);
  position: relative;
  top: -3px;
  //padding-right: 160px;
}
.navbar-brand.logo {
  padding-right: 10px;
}
