<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-main-artist-heading" data-cy="MainArtistCreateUpdateHeading">Create or edit a Main Artist</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_artistSpotifyID">Artist Spotify ID</label>
          <input
            type="text"
            class="form-control"
            name="artistSpotifyID"
            id="field_artistSpotifyID"
            data-cy="artistSpotifyID"
            formControlName="artistSpotifyID"
          />
          <div
            *ngIf="
              editForm.get('artistSpotifyID')!.invalid &&
              (editForm.get('artistSpotifyID')!.dirty || editForm.get('artistSpotifyID')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('artistSpotifyID')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_artistName">Artist Name</label>
          <input
            type="text"
            class="form-control"
            name="artistName"
            id="field_artistName"
            data-cy="artistName"
            formControlName="artistName"
          />
          <div *ngIf="editForm.get('artistName')!.invalid && (editForm.get('artistName')!.dirty || editForm.get('artistName')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('artistName')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_artistPopularity">Artist Popularity</label>
          <input
            type="number"
            class="form-control"
            name="artistPopularity"
            id="field_artistPopularity"
            data-cy="artistPopularity"
            formControlName="artistPopularity"
          />
          <div
            *ngIf="
              editForm.get('artistPopularity')!.invalid &&
              (editForm.get('artistPopularity')!.dirty || editForm.get('artistPopularity')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('artistPopularity')?.errors?.required">
              This field is required.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('artistPopularity')?.errors?.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_artistImageSmall">Artist Image Small</label>
          <input
            type="text"
            class="form-control"
            name="artistImageSmall"
            id="field_artistImageSmall"
            data-cy="artistImageSmall"
            formControlName="artistImageSmall"
          />
          <div
            *ngIf="
              editForm.get('artistImageSmall')!.invalid &&
              (editForm.get('artistImageSmall')!.dirty || editForm.get('artistImageSmall')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('artistImageSmall')?.errors?.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_artistImageMedium">Artist Image Medium</label>
          <input
            type="text"
            class="form-control"
            name="artistImageMedium"
            id="field_artistImageMedium"
            data-cy="artistImageMedium"
            formControlName="artistImageMedium"
          />
          <div
            *ngIf="
              editForm.get('artistImageMedium')!.invalid &&
              (editForm.get('artistImageMedium')!.dirty || editForm.get('artistImageMedium')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('artistImageMedium')?.errors?.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_artistImageLarge">Artist Image Large</label>
          <input
            type="text"
            class="form-control"
            name="artistImageLarge"
            id="field_artistImageLarge"
            data-cy="artistImageLarge"
            formControlName="artistImageLarge"
          />
          <div
            *ngIf="
              editForm.get('artistImageLarge')!.invalid &&
              (editForm.get('artistImageLarge')!.dirty || editForm.get('artistImageLarge')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('artistImageLarge')?.errors?.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_artistFollowers">Artist Followers</label>
          <input
            type="number"
            class="form-control"
            name="artistFollowers"
            id="field_artistFollowers"
            data-cy="artistFollowers"
            formControlName="artistFollowers"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_dateAddedToDB">Date Added To DB</label>
          <div class="input-group">
            <input
              id="field_dateAddedToDB"
              data-cy="dateAddedToDB"
              type="text"
              class="form-control"
              name="dateAddedToDB"
              ngbDatepicker
              #dateAddedToDBDp="ngbDatepicker"
              formControlName="dateAddedToDB"
            />
            <button type="button" class="btn btn-secondary" (click)="dateAddedToDBDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_dateLastModified">Date Last Modified</label>
          <div class="input-group">
            <input
              id="field_dateLastModified"
              data-cy="dateLastModified"
              type="text"
              class="form-control"
              name="dateLastModified"
              ngbDatepicker
              #dateLastModifiedDp="ngbDatepicker"
              formControlName="dateLastModified"
            />
            <button type="button" class="btn btn-secondary" (click)="dateLastModifiedDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_relatedArtists">Related Artists</label>
          <select
            class="form-control"
            id="field_relatedArtists"
            data-cy="relatedArtists"
            name="relatedArtists"
            formControlName="relatedArtists"
            [compareWith]="compareRelatedArtists"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="relatedArtistsOption" *ngFor="let relatedArtistsOption of relatedArtistsCollection">
              {{ relatedArtistsOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
