<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="album">
      <h2 data-cy="albumDetailsHeading"><span>Album</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ album.id }}</span>
        </dd>
        <dt><span>Album Spotify ID</span></dt>
        <dd>
          <span>{{ album.albumSpotifyID }}</span>
        </dd>
        <dt><span>Album Name</span></dt>
        <dd>
          <span>{{ album.albumName }}</span>
        </dd>
        <dt><span>Album Cover Art</span></dt>
        <dd>
          <span>{{ album.albumCoverArt }}</span>
        </dd>
        <dt><span>Album Release Date</span></dt>
        <dd>
          <span>{{ album.albumReleaseDate | formatMediumDate }}</span>
        </dd>
        <dt><span>Release Date Precision</span></dt>
        <dd>
          <span>{{ album.releaseDatePrecision }}</span>
        </dd>
        <dt><span>Album Popularity</span></dt>
        <dd>
          <span>{{ album.albumPopularity }}</span>
        </dd>
        <dt><span>Album Type</span></dt>
        <dd>
          <span>{{ album.albumType }}</span>
        </dd>
        <dt><span>Spotify Album UPC</span></dt>
        <dd>
          <span>{{ album.spotifyAlbumUPC }}</span>
        </dd>
        <dt><span>Spotify Album EAN</span></dt>
        <dd>
          <span>{{ album.spotifyAlbumEAN }}</span>
        </dd>
        <dt><span>Spotify Album ISRC</span></dt>
        <dd>
          <span>{{ album.spotifyAlbumISRC }}</span>
        </dd>
        <dt><span>Date Added To DB</span></dt>
        <dd>
          <span>{{ album.dateAddedToDB | formatMediumDate }}</span>
        </dd>
        <dt><span>Date Last Modified</span></dt>
        <dd>
          <span>{{ album.dateLastModified | formatMediumDate }}</span>
        </dd>
        <dt><span>Musicbrainz Metadata Added</span></dt>
        <dd>
          <span>{{ album.musicbrainzMetadataAdded }}</span>
        </dd>
        <dt><span>Musicbrainz ID</span></dt>
        <dd>
          <span>{{ album.musicbrainzID }}</span>
        </dd>
        <dt><span>Main Artist</span></dt>
        <dd>
          <div *ngIf="album.mainArtist">
            <a [routerLink]="['/main-artist', album.mainArtist.id, 'view']">{{ album.mainArtist.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/album', album.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
