/* ==========================================================================
Main page styles
========================================================================== */

.hipster {
  display: inline-block;
  width: 347px;
  height: 497px;
  background: url('../../content/images/jhipster_family_member_0.svg') no-repeat center top;
  background-size: contain;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (-moz-min-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .hipster {
    background: url('../../content/images/jhipster_family_member_0.svg') no-repeat center top;
    background-size: contain;
  }
}

.row.justify-content-center {
  display: flex;
  justify-content: center;
}

@media (min-width: 768px) {
  /* Adjust this breakpoint to match your framework's md breakpoint */
  .col-md-9.flex-md-auto {
    flex: 0 0 auto;
    width: 50%; /* Adjust this as needed */
  }
}

.home-background {
  background-image: url('../../content/images/Untitled-1.png');
  background-size: cover; /* Cover the entire page */
  background-position: center; /* Center the background image */
  height: 100vh; /* Make sure it covers the whole screen */
  width: 100%;
}
