<main class="et-main">
  <section class="et-slide" id="hero">
    <h3>
      Welcome to Lowertones, where you can easily scan and organize your Spotify library. Our intuitive tabular form allows you to view your
      library at a glance, while the filters on the left help you find specific songs or albums. With our search bar at the top, you can
      quickly locate any track or artist. Start exploring your music collection today!
    </h3>
    <div class="center" style="--total: 1080">
      <div *ngFor="let particle of particles; let i = index" class="particle" [style]="{ '--index': i }"></div>
    </div>
  </section>

  <section id="tableview-tab" class="et-slide">
    <div style="height: 60px"></div>
    <h1>tableview</h1>
    <h3>preview of tableview with photos or small version and description</h3>
  </section>

  <section id="recapd-tab" class="et-slide">
    <div style="height: 60px"></div>
    <div class="card">
      <div class="description-center-content">
        <div class="col-md-4 description-padding d-flex justify-content-center align-items-center">
          <ul class="Words">
            <li class="Words-line">
              <p>&nbsp;</p>
              <p>ReCAPD</p>
            </li>
            <li class="Words-line">
              <p>ReCAPD:</p>
              <p>Find</p>
            </li>
            <li class="Words-line">
              <p>Find</p>
              <p>The</p>
            </li>
            <li class="Words-line">
              <p>The</p>
              <p>People</p>
            </li>
            <li class="Words-line">
              <p>People</p>
              <p>Behind</p>
            </li>
            <li class="Words-line">
              <p>Behind</p>
              <p>Your</p>
            </li>
            <li class="Words-line">
              <p>Your</p>
              <p>Favourite</p>
            </li>

            <li class="Words-line">
              <p>Favourite</p>
              <p>Music</p>
            </li>
            <li class="Words-line">
              <p>Music</p>
              <p>&nbsp;</p>
            </li>
          </ul>
        </div>

        <div class="col-md-4 description-padding d-flex flex-column justify-content-center align-items-center">
          <h2 class="how-it-works-title title-shift-left">How It Works</h2>
          <div class="description-text">
            <h5>
              ReCAPD allows you to find the musicians and <br />artists behind the music you love. <br /><br />
              We scan your Spotify library, and use our <br />
              proprietary dataset to find the tracks you love <br />
              on the MusicBrainz database. <br />
              <br />
              We then scan this data to find the producers, <br />
              guitarists, bassists (and more) that are credited <br />
              in the most songs in your library.<br />
              <br />
              Simply select the type of artist you want to <br />
              find, select the timeframe, and from where <br />
              you want to scan, and we do the rest! <br />
              <br />
              Your favourite musician isn't in the list? <br />
              Consider contributing to MusicBrainz and <br />
              get them recognised! <br />
              <br />
              Click <a href="/data-methodology" style="text-decoration: none">here</a> to learn more about our data
              <br />
              methodology and download our dataset. <br />
            </h5>
          </div>
        </div>

        <div class="col-md-4 description-padding d-flex justify-content-center align-items-center recapd-example-card">
          <img
            src="../../content/images/recapd-example-card.png"
            alt="Title Photo"
            class="recapped-photo img-fluid rounded vanilla-tilt-img fade-in-up"
          />
        </div>
      </div>
    </div>
  </section>

  <section id="network-tab" class="et-slide">
    <div style="height: 60px"></div>
    <div class="card">
      <h1 id="networkHeading">network</h1>
      <div class="card-content">
        <div class="graph-container">
          <div #graphContainer class="graph"></div>
        </div>
        <div class="content">
          <div class="info-card">
            <h5 class="card-text">
              Network maps your listening habits by extracting data from Spotify. Customize your view by choosing between top artists in
              different timeframes or your playlists. Toggle connections based on artist similarity and explore stats like top artists, top
              genres and your mainstream factor!
              <br />
              <br />
              Start visualizing your music network today!
            </h5>
            <button>Go To Network</button>
            <button>How It Works</button>
          </div>
          <br />
          <br />
          <div class="stats-cards">
            <div class="top-artist">
              <div class="stats-header">
                <span>Top Artist</span>
              </div>

              <div class="top-artist-container">
                <img
                  src="https://i.scdn.co/image/ab6761610000e5eb6ef89e23678018c6d8630825"
                  width="100px"
                  height="100px"
                  alt="Top Artist Image"
                  id="topArtistImage"
                />
                <div class="sound-wave">
                  <div class="bar"></div>
                  <div class="bar"></div>
                  <div class="bar"></div>
                  <div class="bar"></div>
                  <div class="bar"></div>
                  <div class="bar"></div>
                  <div class="bar"></div>
                  <div class="bar"></div>
                  <div class="bar"></div>
                  <div class="bar"></div>
                  <div class="bar"></div>
                  <div class="bar"></div>
                  <div class="bar"></div>
                  <div class="bar"></div>
                  <div class="bar"></div>
                  <div class="bar"></div>
                  <div class="bar"></div>
                  <div class="bar"></div>
                  <div class="bar"></div>
                  <div class="bar"></div>
                  <div class="bar"></div>
                  <div class="bar"></div>
                  <div class="bar"></div>
                  <div class="bar"></div>
                  <div class="bar"></div>
                  <div class="bar"></div>
                  <div class="bar"></div>
                  <div class="bar"></div>
                </div>
                <div class="top-artist-text">
                  <div class="artist-controls">
                    <span id="topArtistName">Future</span>
                    <div id="playButton">❚❚</div>
                  </div>
                  <!-- Separate Track Name -->
                  <div class="artist-track">
                    <span id="topArtistTopTrack">We Don't Trust You</span>
                  </div>
                </div>
              </div>
            </div>

            <div class="top-genre">
              <div class="stats-header">
                <span>Top Genre</span>
              </div>

              <div class="top-genre-container">
                <div id="topGenre">rap</div>
              </div>
            </div>

            <div class="mainstream-score">
              <div class="stats-header">
                <span>Mainstream Factor</span>
              </div>
              <div class="mainstream-score-container">
                <div class="score-bar" style="background-color: #d35400">
                  <div
                    class="score-fill"
                    [@fillAnimation]="{ value: 'end', params: { fillPercentage: displayScore } }"
                    style="background-color: #e67e22"
                  ></div>
                  <span class="popularity-score">{{ displayScore }}%</span>
                </div>
                <span class="taste-category">Trending🔥</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="visualisations-tab" class="et-slide">
    <div style="height: 60px"></div>
    <h1>visualisations</h1>
    <h3>preview of visualisations with photos or small version and description</h3>
  </section>
  <section id="getstarted-tab" class="et-slide">
    <div style="height: 60px"></div>
    <h1>Get Started</h1>
    <h3>Create an account with us blahblah</h3>
  </section>
</main>
