<div class="row justify-content-center">
  <div class="col-md-9 flex-md-auto">
    <h1 class="display-4"><span>Lowertones</span></h1>
    <p class="lead">
      Welcome to Lowertones, where you can easily scan and organize your Spotify library. Our intuitive tabular form allows you to view your
      library at a glance, while the filters on the left help you find specific songs or albums. With our search bar at the top, you can
      quickly locate any track or artist. Start exploring your music collection today!
    </p>
  </div>
</div>
