.container {
  text-align: center;
  position: relative;
  color: white;
  padding: 10px 20px; /* Add some padding around the text */
  margin: auto;
  background-color: transparent;
  border-radius: 0.375rem;
  align-items: center;
  width: 800px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#tableview-wrapper {
  display: flex;
  overflow: visible !important;
  position: relative;
}

:host ::ng-deep .p-tree-wrapper {
  overflow: visible;
}

:host ::ng-deep .p-listbox-list-wrapper {
  background: rgba(53, 63, 77, 1);
}

:host ::ng-deep .p-chips-input-token {
  max-width: 100% !important;
}

.p-chips-input-token input {
  max-width: 100% !important;
}

.p-hidden-accessible {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden !important;
  visibility: hidden !important;
}

.p-sortable-column:hover {
  background: rgba(53, 63, 77, 1) !important;
  cursor: pointer;
}

.p-tree {
  border: 1px solid #3f4b5b;
  background: #2a323d;
  color: rgba(255, 255, 255, 0.87);
  /*padding: 1.25rem;*/
  border-radius: 4px;
  min-height: 100%;
}

.p-tree .p-tree-container .p-treenode {
  padding: 0.12rem; /*changed from 0.143*/
}

.p-tree .p-tree-container .p-treenode .p-treenode-content {
  border-radius: 4px;
  transition: box-shadow 0.15s;
  height: fit-content;
  /*padding: 0.286rem;*/
}

.tbv-divs {
  margin: 2px;
  flex: 1;
  animation: fadeIn 0.8s cubic-bezier(0.42, 0, 0.58, 1) 0.6s forwards;
}

#sidebar {
  border-radius: 7px;
  flex: 0 0 15%;
  background-color: rgb(214, 232, 238);
  text-align: center;
  position: sticky !important;
  top: 0;
}

#table-content {
  flex: 1;
}

.title,
.subtitle {
  opacity: 0;
  transform: translateY(20px);
  font-family: 'Dela Gothic One', cursive;
  transition: opacity 0.8s cubic-bezier(0.42, 0, 0.58, 1), transform 0.8s cubic-bezier(0.42, 0, 0.58, 1);
  animation: fadeInUp 0.8s cubic-bezier(0.42, 0, 0.58, 1) 0.2s forwards;
}

.title {
  font-size: 54px;
  line-height: 1;
}

.title sub {
  font-size: 46px;
  vertical-align: 0.25em;
}

.subtitle {
  font-size: 24px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
