.container {
  text-align: center;
  position: relative;
  color: white;
  padding: 10px 20px; /* Add some padding around the text */
  margin: auto;
  background-color: transparent;
  border-radius: 0.375rem;
  align-items: center;
  width: 800px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#tableview-wrapper {
  display: flex;
  overflow: visible !important;
  position: relative;
  min-height: 80vh !important;
}

.p-chips-input-token input {
  max-width: 100% !important;
}

.p-hidden-accessible {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden !important;
  visibility: hidden !important;
}

.p-sortable-column:hover {
  background: rgba(53, 63, 77, 1) !important;
  cursor: pointer;
}

.p-tree {
  border: 1px solid #3f4b5b;
  background: #2a323d;
  color: rgba(255, 255, 255, 0.87);
  /*padding: 1.25rem;*/
  border-radius: 4px;
  min-height: 100%;
}

.p-tree .p-tree-container .p-treenode {
  padding: 0.12rem; /*changed from 0.143*/
}

.p-tree .p-tree-container .p-treenode .p-treenode-content {
  border-radius: 4px;
  transition: box-shadow 0.15s;
  height: fit-content;
  /*padding: 0.286rem;*/
}

.tbv-divs {
  margin: 2px;
  flex: 1;
  //animation: fadeIn 0.8s cubic-bezier(0.42, 0, 0.58, 1) 0.6s forwards; commented out this animation for now
}

#sidebar {
  border-radius: 7px;
  flex: 0 0 15%;
  /*background-color: rgb(214, 232, 238);*/
  text-align: center;
  position: sticky !important;
  top: 0;
}

#table-content {
  flex: 1;
}

.title,
.subtitle {
  opacity: 0;
  transform: translateY(20px);
  font-family: 'Dela Gothic One', cursive;
  transition: opacity 0.8s cubic-bezier(0.42, 0, 0.58, 1), transform 0.8s cubic-bezier(0.42, 0, 0.58, 1);
  animation: fadeInUp 0.8s cubic-bezier(0.42, 0, 0.58, 1) 0.2s forwards;
}

.title {
  font-size: 54px;
  line-height: 1;
}

.title sub {
  font-size: 46px;
  vertical-align: 0.25em;
}

.subtitle {
  font-size: 24px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* CUSTOM CSS FOR PRIMENG COMPONENTS*/

:host ::ng-deep {
  .p-tree-wrapper {
    overflow: visible !important;
  }
  .p-listbox-list-wrapper {
    background: rgba(53, 63, 77, 1) !important;
  }
  .p-chips-input-token {
    max-width: 100% !important;
  }
  .p-chips {
    padding: 0.2rem 0rem;
    width: 97% !important;
  }
  .p-chips-multiple-container {
    overflow: hidden !important;
    width: 100% !important;
  }
  .p-chips .p-chips-multiple-container .p-chips-token {
    padding: 0.1rem 0.3rem !important;
  }
  div.p-listbox {
    border: 0px !important; /*this affects all p-listboxes*/
  }
  .p-listbox .p-listbox-list {
    padding: 0vh 0vh 0vh 0vh !important;
  }
  .p-listbox .p-listbox-list .p-listbox-item {
    background: rgba(53, 63, 77, 1) !important;
    padding: 1vh 1vh !important;
  }
  .p-listbox .p-listbox-list .p-listbox-item span {
    /*to align list text in the center*/
    margin: auto !important;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
  }
  .p-listbox .p-listbox-list .p-listbox-item div {
    /*to align list text in the center*/
    margin: none !important;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
  }
  .p-listbox .p-listbox-header {
    padding: 0.1vh;
    border-bottom: none;
    background: rgba(53, 63, 77, 1) !important;
  }
  .p-listbox-filter-container {
    background: rgba(255, 255, 255, 0) !important;
  }
  .p-tree {
    padding: 0rem !important;
    border-radius: 0px !important;
    border-bottom-left-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
    min-height: 90% !important;
  }
  .p-tree-wrapper .p-tree-container {
    overflow: visible !important;
  }
  .p-tree .p-tree-container .p-treenode {
    padding: 0.12rem !important; /*changed from 0.143*/
  }
  .p-tree .p-tree-container .p-treenode .p-treenode-content {
    height: fit-content !important;
    width: 100% !important;
    padding: 0.4vh !important;
  }
  .p-treenode-label {
    width: 100% !important;
  }
  span.p-treenode-label {
    text-align: left !important;
  }
  .p-treenode-leaf > .p-treenode-content .p-tree-toggler {
    width: 0rem !important;
    margin-right: 0vh !important;
  }

  .p-treenode-leaf > .p-treenode-content .p-listbox {
    width: 100% !important;
  }
  ul.p-treenode-children {
    background: rgba(53, 63, 77, 1) !important;
  }
  .p-tree .p-treenode-children {
    padding: 0 0 0 0rem !important; /*originally padding: 0 0 0 1rem;*/
  }
  .p-listbox .p-listbox-list .p-listbox-item.p-highlight {
    color: #151515 !important;
    background: #8dd0ff !important;
  }
  td:has(p-tablecheckbox),
  th:has(p-tableheadercheckbox) {
    padding: 1rem 1rem 1rem 1rem !important;
  }
  .p-datatable .p-datatable-thead > tr > th {
    padding: 0.8rem !important;
  }
  .p-datatable .p-datatable-tbody > tr > td {
    padding: 0.5rem 0.8rem !important;
  }
  .p-datatable > .p-datatable-wrapper {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
  .p-datatable .p-paginator-bottom {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  p-inputmask > .p-inputtext {
    padding: 0rem;
    text-align: center;
    width: 8vh;
  }
  .p-inputgroup > .p-inputtext {
    border-bottom: none;
  }
  /*
            style="width: 25%;  "*/
}

.center-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.center-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-spinners::-webkit-outer-spin-button,
.no-spinners::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-spinners {
  -moz-appearance: textfield;
}

.coltitle {
  width: 10%;
}
.colartist {
  width: 10%;
}
.collength {
  width: 1%;
}
.colrelease {
  width: 1%;
}
.colpopularity {
  width: 1%;
}
.colexplicit {
  width: 1%;
}
