<!--<script>
  document.addEventListener('DOMContentLoaded', function() {
      // Attach the event listener to a known parent or the document
      document.querySelector('.p-chips-input-token').addEventListener('input', function(event) {
          // Ensure the event originated from an input element
          if (event.target.tagName === 'INPUT') {
              adjustWidth(event.target);
          }
      });
  });
  
  function adjustWidth(input) {
      input.style.width = ((input.value.length + 1) * 8) + 'px';
  }
  </script>-->

<div id="tableview-wrapper">
  <div id="sidebar" class="tbv-divs">
    <!-- FILTERS START -->

    <div class="sidebar-search">
      <div class="p-inputgroup">
        <input
          style="width: 80%; border-bottom-left-radius: 0px"
          type="text"
          pInputText
          [(ngModel)]="searchQuery"
          placeholder="Search..."
          (keydown.enter)="searchOrQuery()"
        />
        <button
          style="border-bottom-right-radius: 0px"
          type="button"
          pButton
          pRipple
          icon="pi pi-search"
          (click)="searchOrQuery()"
        ></button>
      </div>
    </div>

    <div class="sidebar-tree">
      <p-tree [value]="filters" class="w-full md:w-30rem">
        <ng-template let-node pTemplate="default">
          <div class="node-container">
            <div class="node-container-child-1">{{ node.label }}</div>
            <div class="node-container-child-2" pTooltip="{{ node.tooltip }}" tooltipPosition="right">
              <div>?</div>
            </div>
          </div>
        </ng-template>

        <!--Playlist Select-->
        <ng-template let-node pTemplate="PlaylistElement">
          <!--<button pButton [style]="{ 'max-width': '100%' }" label="Submit" (click)="scrape()"></button>-->
          <p-listbox
            [options]="playlists"
            [(ngModel)]="selectedPlaylist"
            (ngModelChange)="getPlaylistData()"
            [filter]="true"
            [listStyle]="{ 'max-height': '30vh' }"
            optionLabel="name"
            autoWidth="false"
          >
            <ng-template let-item pTemplate="item">
              <img [src]="item.image" class="playlist-image-selected" />
              <!--onError="this.src='assets/default-playlist-image.png';"-->
              <div title="{{ item.name }}">{{ item.name }}</div>
            </ng-template>
          </p-listbox>
        </ng-template>

        <!--Duration-->

        <!--Search Type-->
        <ng-template let-node pTemplate="SearchElement">
          <p-listbox [options]="searchTypes" [(ngModel)]="selectedSearchType" optionLabel="label" autoWidth="false"></p-listbox>
        </ng-template>

        <!--Duration-->

        <ng-template let-node pTemplate="DurationElement">
          <div style="display: flex; justify-content: space-between">
            <b>Min: </b>
            <p-inputMask mask="99:99" placeholder="mm:ss" type="text" [(ngModel)]="durationRange[0]"></p-inputMask>
            <b>Max: </b>
            <p-inputMask mask="99:99" placeholder="mm:ss" type="text" [(ngModel)]="durationRange[1]"></p-inputMask>
          </div>
        </ng-template>

        <!--Release Years-->
        <ng-template let-node pTemplate="YearsElement">
          <div style="display: flex; justify-content: space-between">
            <b>Min: </b>
            <input
              style="width: 8vh; padding: 0rem; text-align: center"
              placeholder="1900"
              type="number"
              pInputText
              [(ngModel)]="yearRange[0]"
              class="w-full no-spinners"
            />
            <b>Max: </b>
            <input
              style="width: 8vh; padding: 0rem; text-align: center"
              placeholder="2030"
              type="number"
              pInputText
              [(ngModel)]="yearRange[1]"
              class="w-full no-spinners"
            />
          </div>
        </ng-template>

        <!--Tempo-->
        <ng-template let-node pTemplate="TempoElement">
          <div style="display: flex; justify-content: space-between">
            <b>Min: </b>
            <input
              style="width: 8vh; padding: 0rem; text-align: center"
              placeholder="60"
              type="number"
              pInputText
              [(ngModel)]="tempoRange[0]"
              class="w-full no-spinners"
            />
            <b>Max: </b>
            <input
              style="width: 8vh; padding: 0rem; text-align: center"
              placeholder="120"
              type="number"
              pInputText
              [(ngModel)]="tempoRange[1]"
              class="w-full no-spinners"
            />
          </div>
        </ng-template>

        <!--Song Features-->
        <ng-template let-node pTemplate="FeaturesElement">
          <div *ngFor="let feature of features">
            <div [ngStyle]="feature.name !== 'Valence' ? { 'margin-bottom': '1.5vh' } : {}">
              <span>{{ feature.name }}</span>
              <div style="display: flex; justify-content: space-between">
                <b>Min: </b>
                <input
                  style="width: 8vh; padding: 0rem; text-align: center"
                  placeholder="0"
                  type="number"
                  pInputText
                  [(ngModel)]="feature.range[0]"
                  class="w-full no-spinners"
                />
                <b>Max: </b>
                <input
                  style="width: 8vh; padding: 0rem; text-align: center"
                  placeholder="100"
                  type="number"
                  pInputText
                  [(ngModel)]="feature.range[1]"
                  class="w-full no-spinners"
                />
              </div>
            </div>
          </div>
        </ng-template>

        <!--Popularity-->
        <ng-template let-node pTemplate="PopularityElement">
          <!--
          <div style="width: 80%; margin: auto; margin-top: 5%">-->

          <div style="display: flex; justify-content: space-between">
            <b>Min: </b>
            <input
              style="width: 8vh; padding: 0rem; text-align: center"
              placeholder="0"
              type="number"
              pInputText
              [(ngModel)]="popularityRange[0]"
              class="w-full no-spinners"
            />
            <b>Max: </b>
            <input
              style="width: 8vh; padding: 0rem; text-align: center"
              placeholder="100"
              type="number"
              pInputText
              [(ngModel)]="popularityRange[1]"
              class="w-full no-spinners"
            />
          </div>
        </ng-template>

        <!--Artist Search-->
        <ng-template let-node pTemplate="ArtistChipElement">
          <p-chips [(ngModel)]="artistChips" (ngModelChange)="applySearch()"></p-chips>
        </ng-template>

        <!--Contributor Search-->
        <ng-template let-node pTemplate="ContributorChipElement">
          <p-chips [(ngModel)]="contributorChips" (ngModelChange)="applySearch()"></p-chips>
        </ng-template>

        <!--Explicitness-->

        <ng-template let-node pTemplate="ExplicitnessElement">
          <div class="center-container">
            <p-selectButton
              [options]="Explicitness"
              [(ngModel)]="selectedExplicitness"
              (ngModelChange)="applySearch()"
              optionLabel="label"
              class="explicitSelectButton"
            >
            </p-selectButton>
          </div>
        </ng-template>

        <!--Column Selection-->
        <ng-template let-node pTemplate="ColumnSelectionListElement">
          <p-listbox
            [options]="columns"
            [(ngModel)]="selectedColumns"
            [multiple]="true"
            [metaKeySelection]="false"
            optionLabel="label"
            autoWidth="false"
            (ngModelChange)="sortColumns()"
          ></p-listbox>
        </ng-template>
      </p-tree>
    </div>

    <!--<button (click)="printSelectedSongs()">Print Selected Songs</button>-->

    <!-- FILTERS END -->
  </div>

  <div id="table-content" class="tbv-divs">
    <div class="tabletoolbar-div">
      <p-toolbar>
        <p-selectButton
          [options]="tableStates"
          [(ngModel)]="selectedTableState"
          (ngModelChange)="switchSongDataInUse()"
          optionLabel="label"
        >
          <ng-template let-option>
            <span *ngIf="option.value === 'user'">{{ option.label }}</span>
            <span *ngIf="option.value === 'staging'">{{ option.label }} ({{ selectedSongCount }})</span>
          </ng-template>
        </p-selectButton>
        <button pButton type="button" label="Export.." icon="pi pi-file-export" (click)="showExportPopup()"></button>
      </p-toolbar>
    </div>

    <p-dialog
      [showHeader]="false"
      [(visible)]="exportPopupVisible"
      [modal]="true"
      [responsive]="true"
      [dismissableMask]="true"
      (onHide)="resetExportNameError()"
    >
      <div style="display: flex; flex-direction: column; gap: 1rem; padding: 1rem">
        <input type="text" id="exportName" pInputText [(ngModel)]="exportName" placeholder="Enter playlist name..." />
        <small *ngIf="exportNameError" style="color: red">Enter a playlist name.</small>
        <small *ngIf="exportItemsError" style="color: red">Select at least one song to export.</small>
        <button pButton type="button" label="Export to Spotify" class="spotify-export-button" (click)="exportStagingPlaylist()"></button>
      </div>
    </p-dialog>

    <div class="table-div">
      <!-- currentPageReportTemplate="Showing {first} to {{ getNumberOfLastEntry() }} of {{ countSongsNoPlaceholder(filteredSongData) }} entries" -->
      <p-table
        [tableStyle]="{ 'min-height': '75vh', 'min-width': '83vw' }"
        [columns]="selectedColumns"
        [first]="tablePage"
        (onPage)="pageChange($event)"
        [value]="filteredSongData"
        [(selection)]="selectedSongs"
        (selectionChange)="selectionLogic()"
        [paginator]="true"
        [showCurrentPageReport]="!loadingSongs"
        [rows]="15"
        [resizableColumns]="true"
        styleClass="p-datatable-striped"
        sortMode="multiple"
      >
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th style="width: 0%" *ngIf="loadingSongs"></th>
            <th style="width: 0%" *ngIf="!loadingSongs">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th
              *ngFor="let col of columns"
              pResizableColumn
              title="{{ col.label }}"
              pSortableColumn="{{ col.value }}"
              (click)="onColumnHeaderClick()"
              [ngClass]="{
                coltitle: col.value === 'title',
                colartist: col.value === 'artist',
                colcontributor: col.value === 'contributor',
                colsmall: [
                  'length',
                  'release',
                  'popularity',
                  'explicit',
                  'acousticness',
                  'danceability',
                  'instrumentalness',
                  'energy',
                  'liveness',
                  'loudness',
                  'speechiness',
                  'valence',
                  'tempo'
                ].includes(col.value)
              }"
            >
              {{ col.short }}<p-sortIcon field="{{ col.value }}"></p-sortIcon>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-song let-columns="columns">
          <tr class="p-selectable-row">
            <td *ngIf="loadingSongs || song['placeholder']"></td>
            <td *ngIf="!loadingSongs && !song['placeholder']">
              <p-tableCheckbox [value]="song"></p-tableCheckbox>
            </td>
            <td
              *ngFor="let col of columns"
              [ngClass]="{
                cellright: [
                  'popularity',
                  'explicit',
                  'acousticness',
                  'danceability',
                  'instrumentalness',
                  'energy',
                  'liveness',
                  'loudness',
                  'speechiness',
                  'valence',
                  'tempo'
                ].includes(col.value)
              }"
            >
              <ng-container *ngIf="loadingSongs">
                <p-skeleton></p-skeleton>
              </ng-container>

              <ng-container *ngIf="!loadingSongs && song['placeholder']">
                <span style="color: transparent; user-select: none">hi</span>
              </ng-container>
              <ng-container *ngIf="!song['placeholder']">
                <ng-container *ngIf="col.value === 'explicit'; else otherFields">
                  <div class="center-image">
                    <img style="height: 2.5vh" *ngIf="song[col.value]" src="..\..\content\images\explicit.png" alt="Explicit" />
                  </div>
                </ng-container>
                <ng-template #otherFields>
                  <ng-container *ngIf="col.value === 'contributor'; else normalField">
                    <ng-container *ngIf="song['contributor']">
                      <p-overlayPanel #op>
                        <div style="width: 60vw">
                          <ng-container *ngFor="let name of song['contributorNames']; let i = index">
                            <ng-container
                              *ngIf="song['contributorInstruments'][i] && song['contributorInstruments'][i].length > 0; else roleTag"
                            >
                              <p-tag [rounded]="true" value="{{ name }} - {{ song['contributorInstruments'][i] }}"></p-tag>
                            </ng-container>
                            <ng-template #roleTag>
                              <p-tag [rounded]="true" value="{{ name }} - {{ song['contributorRoles'][i] }}"></p-tag>
                            </ng-template>
                          </ng-container>
                        </div>
                      </p-overlayPanel>
                      <p-button class="contributorButton" (click)="op.toggle($event)" label="View"></p-button>
                    </ng-container>
                  </ng-container>

                  <ng-template #normalField>
                    <div title="{{ song[col.value] }}">{{ song[col.value] }}</div>
                  </ng-template>
                </ng-template>
              </ng-container>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
