<!--<script>
  document.addEventListener('DOMContentLoaded', function() {
      // Attach the event listener to a known parent or the document
      document.querySelector('.p-chips-input-token').addEventListener('input', function(event) {
          // Ensure the event originated from an input element
          if (event.target.tagName === 'INPUT') {
              adjustWidth(event.target);
          }
      });
  });
  
  function adjustWidth(input) {
      input.style.width = ((input.value.length + 1) * 8) + 'px';
  }
  </script>-->

<div id="tableview-wrapper">
  <div id="sidebar" class="tbv-divs">
    <!-- FILTERS START -->

    <div style="width: 100%; margin: auto">
      <div class="p-inputgroup">
        <input
          style="width: 80%; border-bottom-left-radius: 0px"
          type="text"
          pInputText
          [(ngModel)]="searchQuery"
          placeholder="Search..."
          (keydown.enter)="applySearch()"
        />
        <button style="border-bottom-right-radius: 0px" type="button" pButton pRipple icon="pi pi-search" (click)="applySearch()"></button>
      </div>
    </div>

    <p-tree [value]="filters" [style]="{ overflow: 'visible !important' }" class="w-full md:w-30rem">
      <ng-template let-node pTemplate="default">
        {{ node.label }}
      </ng-template>

      <!--Search Type-->
      <ng-template let-node pTemplate="SearchElement">
        <p-listbox [options]="searchTypes" [(ngModel)]="selectedSearchType" optionLabel="label" autoWidth="false"></p-listbox>
      </ng-template>

      <!--Release Years-->
      <ng-template let-node pTemplate="YearsElement">
        <div style="display: flex; justify-content: space-between">
          <b>Min: </b>
          <input
            style="width: 25%; padding: 0rem; text-align: center"
            type="text"
            pInputText
            [(ngModel)]="yearValues[0]"
            (ngModelChange)="yearValues = [yearValues[0], yearValues[1]]"
            class="w-full"
          />
          <b>Max: </b>
          <input
            style="width: 25%; padding: 0rem; text-align: center"
            type="text"
            pInputText
            [(ngModel)]="yearValues[1]"
            (ngModelChange)="yearValues = [yearValues[0], yearValues[1]]"
            class="w-full"
          />
        </div>
      </ng-template>

      <!--Popularity-->
      <ng-template let-node pTemplate="SliderElement">
        <!--
        <div style="width: 80%; margin: auto; margin-top: 5%">-->
        <div style="display: flex; justify-content: space-between">
          <b>Min: </b>
          <input
            style="width: 25%; padding: 0rem; text-align: center"
            type="text"
            pInputText
            [(ngModel)]="rangeValues[0]"
            (ngModelChange)="rangeValues = [rangeValues[0], rangeValues[1]]"
            class="w-full"
          />
          <b>Max: </b>
          <input
            style="width: 25%; padding: 0rem; text-align: center"
            type="text"
            pInputText
            [(ngModel)]="rangeValues[1]"
            (ngModelChange)="rangeValues = [rangeValues[0], rangeValues[1]]"
            class="w-full"
          />
        </div>
        <!--
          <div style="padding-top: 5%; padding-bottom: 10%">
            <p-slider [(ngModel)]="rangeValues" [min]="0" [max]="100" [range]="true" class="w-full"></p-slider>
          </div>
          
        </div>-->
      </ng-template>

      <!--Artist Search-->
      <ng-template let-node pTemplate="ArtistChipElement">
        <p-chips [(ngModel)]="artistChips"></p-chips>
      </ng-template>

      <!--Producer Search-->
      <ng-template let-node pTemplate="ProducerChipElement">
        <p-chips [(ngModel)]="producerChips"></p-chips>
      </ng-template>
    </p-tree>

    <!--<button (click)="printSelectedSongs()">Print Selected Songs</button>-->

    <!-- FILTERS END -->
  </div>
  <div id="table-content" class="tbv-divs">
    <!--TODO: pull in a better theme for this. default theme set in angular.json. we should really roll our own-->
    <p-table
      [value]="filteredSongData"
      [(selection)]="selectedSongs"
      [paginator]="true"
      [rows]="15"
      [resizableColumns]="true"
      styleClass="p-datatable-striped"
      sortMode="multiple"
    >
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 0.5rem">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th pResizableColumn pSortableColumn="title">Title <p-sortIcon field="title"></p-sortIcon></th>
          <th pResizableColumn pSortableColumn="artist">Artist<p-sortIcon field="artist"></p-sortIcon></th>
          <th pResizableColumn pSortableColumn="length">Length<p-sortIcon field="length"></p-sortIcon></th>
          <th pResizableColumn pSortableColumn="release">Release Date<p-sortIcon field="release"></p-sortIcon></th>
          <th pResizableColumn pSortableColumn="popularity">Popularity<p-sortIcon field="popularity"></p-sortIcon></th>
          <th pResizableColumn pSortableColumn="explicit">Explicit<p-sortIcon field="explicit"></p-sortIcon></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-song>
        <tr class="p-selectable-row">
          <td>
            <p-tableCheckbox [value]="song"></p-tableCheckbox>
          </td>
          <td>{{ song.title }}</td>
          <td>{{ song.artist }}</td>
          <td>{{ song.length }}</td>
          <td>{{ song.release }}</td>
          <td>{{ song.popularity }}</td>
          <td>{{ song.explicit }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
