<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="appUser">
      <h2 data-cy="appUserDetailsHeading"><span>App User</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ appUser.id }}</span>
        </dd>
        <dt><span>Spotify User ID</span></dt>
        <dd>
          <span>{{ appUser.spotifyUserID }}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
          <span>{{ appUser.name }}</span>
        </dd>
        <dt><span>Email</span></dt>
        <dd>
          <span>{{ appUser.email }}</span>
        </dd>
        <dt><span>Spotify Refresh Token</span></dt>
        <dd>
          <span>{{ appUser.spotifyRefreshToken }}</span>
        </dd>
        <dt><span>Spotify Auth Token</span></dt>
        <dd>
          <span>{{ appUser.spotifyAuthToken }}</span>
        </dd>
        <dt><span>Last Login Date</span></dt>
        <dd>
          <span>{{ appUser.lastLoginDate | formatMediumDate }}</span>
        </dd>
        <dt><span>Discover Weekly Buffer Settings</span></dt>
        <dd>
          <span>{{ appUser.discoverWeeklyBufferSettings }}</span>
        </dd>
        <dt><span>Discover Weekly Buffer Playlist ID</span></dt>
        <dd>
          <span>{{ appUser.discoverWeeklyBufferPlaylistID }}</span>
        </dd>
        <dt><span>Dark Mode</span></dt>
        <dd>
          <span>{{ appUser.darkMode }}</span>
        </dd>
        <dt><span>User</span></dt>
        <dd>
          <span>{{ appUser.user?.id }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/app-user', appUser.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
