<div class="playlist-vault">
  <div class="top-section">
    <div class="playlist-covers">
      <img src="../../content/images/daily-mix.webp" alt="Playlist Cover 1" class="daily-mix" />
      <img src="../../content/images/discover-weekly.jpeg" alt="Playlist Cover 2" class="discover-weekly" />
      <img src="../../content/images/release-radar.jpeg" alt="Playlist Cover 3" class="release-radar" />
      <!-- Repeat the images for infinite effect -->
    </div>

    <div class="selection-card">
      <div class="user-input">
        <form id="customForm">
          <div class="form-group">
            <label for="playlistName">Playlist Name</label>
            <input type="text" id="playlistName" name="playlistName" />
          </div>

          <div class="form-group">
            <label for="link">Link</label>
            <input type="text" id="link" name="link" />
          </div>

          <div class="form-group">
            <label for="playlistCover">Playlist Cover (optional)</label>
            <input type="text" id="playlistCover" name="playlistCover" />
          </div>

          <div class="form-group">
            <label for="frequency">Update Frequency</label>
            <select id="frequency" name="frequency">
              <option value="daily">Daily</option>
              <option value="weekly">Weekly</option>
              <option value="monthly">Monthly</option>
            </select>
          </div>

          <div class="button-container">
            <button type="submit" class="add-to-vault-btn">Add to Vault</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="playlist-table">
    <table>
      <thead>
        <th>Id</th>
        <th>Name</th>
        <th>Type</th>
        <th>Frequency</th>
        <th>options</th>
      </thead>

      <tbody>
        <tr>
          <td>1</td>
          <td>Discover Weekly</td>
          <td>Spotify Generated</td>
          <td>Weekly</td>
          <td>Delete</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Daily Mix</td>
          <td>Spotify Generated</td>
          <td>Daily</td>
          <td>Delete</td>
        </tr>
        <tr>
          <td>3</td>
          <td>My Custom Playlist</td>
          <td>Custom</td>
          <td>Daily</td>
          <td>Delete</td>
        </tr>
        <tr>
          <td>4</td>
          <td>Release Radar</td>
          <td>Spotify Generated</td>
          <td>Weekly</td>
          <td>Delete</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
