.playlist-vault {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  height: 100vh;
}

.top-section {
  position: relative;
  display: flex;
  width: 100%;
  height: 56vh;
  justify-content: center;
  align-items: center;
  background: linear-gradient(200deg, transparent, rgba(255, 246, 230, 0.277), transparent);
  border-radius: 10px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
}

.highContrast {
  background: none !important;
  background-color: rgb(50, 50, 50) !important;
  border: yellow !important;
  .daily-mix,
  .discover-weekly,
  .release-radar {
    border: 5px solid yellow !important;
  }
  .form-group input,
  .form-group select,
  button.add-to-vault-btn {
    border: 2.5px solid red !important;
    background-color: rgba(26, 20, 37, 0.548) !important;
    color: yellow !important;
  }
  button.add-to-vault-btn:hover {
    background-color: black !important;
  }
}

.playlist-covers {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  height: 100%;
  pointer-events: auto;
}

.playlist-covers img {
  transition: transform 0.3s ease;
  display: block;
}

.daily-mix {
  position: relative;
  width: 19vw;
  height: auto;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
  border-radius: 10px;
  right: 9%;
  transform: rotate(-10deg);
  z-index: 1;
}

.discover-weekly {
  right: 20%;
  z-index: 2;
  width: 21vw;
  height: auto;
}

.release-radar {
  right: 27%;
  transform: rotate(10deg);
  z-index: 3;
  width: 21vw;
  height: auto;
}

.discover-weekly,
.release-radar {
  position: relative;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
  border-radius: 10px;
}

.playlist-covers img:hover {
  transform: scale(1.05);
}

.selection-card {
  flex: 1;
  padding: 15px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80%;
}

.user-input {
  display: flex;
  width: 30vw;
  height: 80vh;
  padding: 5px;
  align-self: flex-end;
  border-radius: 8px;
  background-color: #e7e7e7;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  justify-content: center;
  position: relative;
  z-index: 10;
}

#customForm {
  width: 100%;
}

.form-group {
  display: flex;
  align-items: center;
  justify-content: left;
  margin: 0.5vw;
  padding: 0.5vw;
  width: 100%;
}

.form-group label {
  flex: 0 0 11vw;
  margin-right: 0.5vw;
  font-size: 1.2vw;
}

.form-group input,
.form-group select {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 1vw;
  text-align: center;
  font-size: 1.2vw;
  background-color: rgba(0, 0, 0, 0.668);
  width: 12vw;
  height: 2.5vw;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1vw;
}

button.add-to-vault-btn {
  padding: 10px 15px;
  font-size: 1.25vw;
  background-color: rgba(26, 20, 37, 0.548);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

button.add-to-vault-btn:hover {
  background-color: rgba(10, 7, 15, 0.752);
}

.playlist-table {
  width: 80%;
  margin: 20px auto 0 auto;
}

.playlist-table table {
  width: 80%;
  border-collapse: collapse;
  text-align: center;
  background-color: #f2f2f249;
}

.playlist-table th,
.playlist-table td {
  border: 1px solid #dddddd63;
  padding: 10px;
  text-align: center;
}

.playlist-table th {
  background-color: #f2f2f260;
  height: 2vw;
  font-weight: bold;
  font-size: 1.2vw;
}

:host ::ng-deep .p-datatable .p-datatable-tbody > tr {
  background: #f2f2f227;
  height: 1.3vw;
  font-size: 1vw;
}

.playlist-table button {
  border: none;
  width: 1vw;
  background-color: transparent;
  cursor: pointer;
}

.playlist-table button:hover {
  color: red; /* Change color on hover for better visual feedback */
}

.no-data-message {
  text-align: center;
  margin-top: 1vw;
  padding: 10px;
  border-radius: 10px;
  font-size: 1.5vw;
  color: #ffffff;
  background-color: rgba(255, 0, 0, 0.103);
}
