html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 1400px;
  height: 400px;
  position: relative;
}

.chart {
  width: 400px;
  height: 400px;
  text-align: center;
  background-color: floralwhite;
  display: inline-block;
  margin-right: 20px;
}

.pie-chart {
}

.bar-chart {
}

.chart-description {
  margin-top: 10px;
  font-size: 14px;
}
