<!DOCTYPE html>

<html>
  <head></head>

  <body>
    <p-dropdown
      [options]="scanType"
      [ngModel]="selectedScanType"
      [filter]="true"
      filterBy="label"
      optionLabel="label"
      [style]="{ width: '15rem' }"
      [showClear]="true"
      placeholder="Select Scan Type"
      class="dropdown"
      (onChange)="onScanTypeChange($event)"
    >
    </p-dropdown>

    <div class="chart">
      <div class="chart-title">
        <h3 class="title">Top Genre's</h3>
      </div>
      <svg #pieChartSvg width="400" height="400"></svg>

      <div class="chart-description">
        <p>
          The Top Genres in your selected playlist were:<br /><br />
          {{ response?.topGenre1Name }}: ({{ response?.topGenre1Percent }}%)<br />
          {{ response?.topGenre2Name }}: ({{ response?.topGenre2Percent }}%)<br />
          {{ response?.topGenre3Name }}: ({{ response?.topGenre3Percent }}%)<br />
          {{ response?.topGenre4Name }}: ({{ response?.topGenre4Percent }}%)<br />
          {{ response?.topGenre5Name }}: ({{ response?.topGenre5Percent }}%)
        </p>
      </div>
    </div>

    <div class="chart">
      <div class="chart-title">
        <h3 class="title">Top Artists</h3>
      </div>

      <svg #barChart1Svg width="400" height="400"></svg>

      <div class="chart-description">
        <p>
          The Top Artists in your selected playlist were:<br /><br />
          {{ response?.topArtist1Name }}: ({{ response?.topArtist1Count }})<br />
          {{ response?.topArtist2Name }}: ({{ response?.topArtist2Count }})<br />
          {{ response?.topArtist3Name }}: ({{ response?.topArtist3Count }})<br />
          {{ response?.topArtist4Name }}: ({{ response?.topArtist4Count }})<br />
          {{ response?.topArtist5Name }}: ({{ response?.topArtist5Count }})
        </p>
      </div>
    </div>

    <div class="chart bar-chart">
      <div class="chart-title">
        <h3 class="title">Playlist Features</h3>
      </div>
      <svg #barChart2Svg width="400" height="400"></svg>

      <div class="chart-description">
        <p>
          The Avg Song Features for your selected playlist are:<br /><br />
          Danceability: ({{ response?.Avgpopularity }}%)<br />
          Energy: ({{ response?.AvgEnergy }}%)<br />
          Popularity: ({{ response?.AvgDanceability }}%)<br />
          Tempo: ({{ response?.AvgAcousticness }}%)<br />
          Acousticness: ({{ response?.AvgTempo }}%)
        </p>
      </div>
    </div>
  </body>
</html>
