html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown {
  background-color: darkgray;
}

.container {
  width: 1400px;
  height: 400px;
  position: relative;
  background-color: darkgray;
}

.chart {
  width: 400px;
  height: 400px;
  text-align: center;
  background-color: darkgray;
  display: inline-block;
  margin-right: 20px;
}

.chart-description {
  margin-top: 10px;
  font-size: 14px;
}
