<!DOCTYPE html>

<html>
  <head></head>

  <body>
    <div class="container">
      <div class="chart pie-chart">
        <div class="chart-title pie-chart-title">
          <h3>Your Top Genre's</h3>
        </div>
        <svg #pieChartSvg width="400" height="400"></svg>
        <div class="chart-description pie-chart-description">
          <p>Explain chart here</p>
        </div>
      </div>
      <div class="chart bar-chart">
        <div class="chart-title bar-chart1-title">
          <h3>Your Top Artists</h3>
        </div>
        <svg #barChart1Svg width="400" height="400"></svg>
        <div class="chart-description bar-chart1-description">
          <p>Explain chart here</p>
        </div>
      </div>
      <div class="chart bar-chart">
        <div class="chart-title bar-chart2-title">
          <h3>Features of your Top Songs</h3>
        </div>
        <svg #barChart2Svg width="400" height="400"></svg>
        <div class="chart-description bar-chart2-description">
          <p>Explain chart here</p>
        </div>
      </div>
    </div>
  </body>
</html>
