html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 1400px;
  height: 400px;
  position: relative;
}

.chart {
  width: 400px;
  height: 400px;
  text-align: center;
  background-color: floralwhite;
  display: inline-block;
  margin-right: 20px;
}

.pie-chart {
}

.bar-chart {
}

.labels {
  position: absolute;
  top: 0;
  left: calc(100% + 20px);
  width: auto;
}
