<!DOCTYPE html>

<html>
  <head></head>

  <body>
    <p-dropdown
      [options]="scanType"
      [ngModel]="selectedScanType"
      [filter]="true"
      filterBy="label"
      optionLabel="label"
      [style]="{ width: '15rem' }"
      [showClear]="true"
      placeholder="Select Scan Type"
      class="dropdown"
      (onChange)="onScanTypeChange($event)"
    >
    </p-dropdown>

    <div class="chart">
      <div class="chart-title">
        <h3 class="title">Top Genre's</h3>
      </div>
      <svg #pieChartSvg width="400" height="400"></svg>

      <div class="chart-description">
        <p>
          The Top Genres in your selected playlist were:<br /><br />
          GENRE 1: GENRE1PERCENT<br />
          GENRE 2: GENRE2PERCENT<br />
          GENRE 3: GENRE3PERCENT<br />
          GENRE 4: GENRE4PERCENT<br />
          GENRE 5: GENRE5PERCENT
        </p>
      </div>
    </div>

    <div class="chart">
      <div class="chart-title">
        <h3 class="title">Top Artists</h3>
      </div>

      <svg #barChart1Svg width="400" height="400"></svg>

      <div class="chart-description">
        <p>
          The Top Artists in your selected playlist were:<br /><br />
          ARTIST 1: ARTIST1COUNT<br />
          ARTIST 2: ARTIST2COUNT<br />
          ARTIST 3: ARTIST3COUNT<br />
          ARTIST 4: ARTIST4COUNT<br />
          ARTIST 5: ARTIST5COUNT
        </p>
      </div>
    </div>

    <div class="chart bar-chart">
      <div class="chart-title">
        <h3 class="title">Playlist Features</h3>
      </div>
      <svg #barChart2Svg width="400" height="400"></svg>

      <div class="chart-description">
        <p>
          The Avg Song Features for your selected playlist are:<br /><br />
          Danceability: DANCEABILITY<br />
          Energy: ENERGY<br />
          Valence: VALENCE<br />
          Tempo: TEMPO<br />
          Acousticness: ACOUSTICNESS
        </p>
      </div>
    </div>
  </body>
</html>
