<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="contributor">
      <h2 data-cy="contributorDetailsHeading"><span>Contributor</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ contributor.id }}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
          <span>{{ contributor.name }}</span>
        </dd>
        <dt><span>Role</span></dt>
        <dd>
          <span>{{ contributor.role }}</span>
        </dd>
        <dt><span>Musicbrainz ID</span></dt>
        <dd>
          <span>{{ contributor.musicbrainzID }}</span>
        </dd>
        <dt><span>Song</span></dt>
        <dd>
          <div *ngIf="contributor.song">
            <a [routerLink]="['/song', contributor.song.id, 'view']">{{ contributor.song.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/contributor', contributor.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
